<a href="https://colab.research.google.com/github/akinzayn/HPV-Research/blob/main/HPV_EDA_Note_9_%5BNon_Parametric_Anova%5D_with_Report_Comments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Preparation**

In [ ]:
#  https://stackoverflow.com/questions/34818723/export-notebook-to-pdf-without-code



# I was seeking the same question in SO and finally turned out to a very straightforward way:

# Assuming using Firefox(57) + Win7 or Any browser where you have access to console

# Run Jupyter notebook and download the notebook in the browser: File->Download as->HTML and you will get a html page with code and output.
# Open the exported HTML with browser and activate the browser console with key F12
# Run following command in the console:

# document.querySelectorAll("div.input").forEach(function(a){a.remove()})
# The code removes all input div DOM. Then right mouse button and chose "Save Page As" and Save the "Complete page" (not single page).

# You will get a page with an associated folder in windows. Use a trick by zip the html page and then extract to unbind the associated. The folder is useless.

# Now it is a single html page without code. You can re-distribute it or print it as PDF.

# If you are not using Firefox or Windows, please adjust the above 3-6 steps.




# I think now is document.querySelectorAll("div.jp-InputArea.jp-Cell-inputArea").forEach(function(a){a.remove()}) 
# but this for example will keep the errors and markdown with maybe you don't want. 
# To remove all input cells, not only code cells you could use:
#  document.querySelectorAll("jp-Cell jp-CodeCell jp-Notebook-cell").forEach(function(a){a.remove()}) 
#  but is a method to check which columns you want and remove them checking the name of the div.

In [ ]:
# clearing workspace
rm(list = ls())

In [ ]:
# loading packages
# to install magick

install.packages("pacman")
library(pacman)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:

p_load('tidyverse', "magrittr", "readxl", "rstatix", "googledrive")

In [ ]:
# loading work space and displaying variables in the workspace

#load("HSV_df.RData")
# ls()
# creating backup and displaying first 6 rows

drive_deauth()
drive_user()
public_file = drive_get(as_id("1y9EBIALTcWzyF64isrSUs4je2W-qbgFjfzF1e6UjYdg"))
downloaded_file = drive_download(public_file, overwrite = TRUE)

HSV_df = read_excel("data_orHPV.all_rev3.xlsx")

HSV_df_back_up = HSV_df
#head(HSV_df)

ℹ Not logged in as any specific Google user.

File downloaded:

• data_orHPV.all_rev3 <id: 1y9EBIALTcWzyF64isrSUs4je2W-qbgFjfzF1e6UjYdg>

Saved locally as:

• data_orHPV.all_rev3.xlsx

In [ ]:
HSV_df <- as.data.frame(sapply(HSV_df, unlist))
HSV_df %<>% 
   mutate(across(where(is.character), ~na_if(., "NA")))
# head(HSV_df,3)

In [ ]:
HSV_df$RIDAGEYRCAT = cut(as.numeric(HSV_df$RIDAGEYR), breaks = c(18, 25, 45, 65, Inf), right = FALSE)

In [ ]:
# Gender
HSV_df$RIAGENDR = factor(HSV_df$RIAGENDR)
levels(HSV_df$RIAGENDR) = c("Male", "Female") 

# High HPV
HSV_df$high.HPV = factor(HSV_df$high.HPV)
levels(HSV_df$high.HPV) = c("Negative", "Positive") 

# Low HPV
HSV_df$low.HPV = factor(HSV_df$low.HPV)
levels(HSV_df$low.HPV) = c("Negative", "Positive") 

# Race
HSV_df$RIDRETH1 = factor(HSV_df$RIDRETH1)
levels(HSV_df$RIDRETH1) = c("Mex-Hisp", "Other-Hisp","Non-Hisp-WT","Non-Hisp-BK", "Others") 

# Education
HSV_df$DMDEDUC2 = factor(HSV_df$DMDEDUC2)
levels(HSV_df$DMDEDUC2) = c("Below 9th Grade", "9-11 Grade","HS or GED","Some College or AA", "Graduate") 

# Marital Status
HSV_df$DMDMARTL = factor(HSV_df$DMDMARTL)
levels(HSV_df$DMDMARTL) = c("Married", "Widowed","Divorced","Separated", "Never married", "Living with partner") 

# Smoking
HSV_df$LBDCOTLC = factor(HSV_df$LBDCOTLC)
levels(HSV_df$LBDCOTLC) = c("Above limit", "Below Limit") 

# Alcohol
HSV_df$ALQ101 = factor(HSV_df$ALQ101)
levels(HSV_df$ALQ101) = c("Yes", "No") 

# Poverty Income Level
HSV_df$PIR = factor(HSV_df$PIR)
# levels(HSV_df$PIR) = c("Yes", "No") 

# Body mass index
HSV_df$BMI.f = factor(HSV_df$BMI.f)
levels(HSV_df$BMI.f) = c("Underweight", "Normal weight" , "Overweight" , "Obesity") 


# Arsenic Level(1)
HSV_df$URDUA3LC.f = factor(HSV_df$URDUA3LC.f)
levels(HSV_df$URDUA3LC.f) = c("Above limit", "Below Limit") 

# Arsenic Level (2)
HSV_df$URDUA5LC.f = factor(HSV_df$URDUA5LC.f)
levels(HSV_df$URDUA5LC.f) = c("Above limit", "Below Limit") 

# Arsenic Level (3)
HSV_df$URDUABLC.f = factor(HSV_df$URDUABLC.f)
levels(HSV_df$URDUABLC.f) = c("Above limit", "Below Limit") 


# Arsenic Level (4)
HSV_df$URDUDALC.f = factor(HSV_df$URDUACLC.f)  
levels(HSV_df$URDUDALC.f) = c("Above limit", "Below Limit") 

# Arsenic Level (5)
HSV_df$URDUDALC.f = factor(HSV_df$URDUDALC.f)
levels(HSV_df$URDUDALC.f) = c("Above limit", "Below Limit") 

# Arsenic Level (6)
HSV_df$URDUMMAL.f = factor(HSV_df$URDUMMAL.f)
levels(HSV_df$URDUMMAL.f) = c("Above limit", "Below Limit") 


HSV_df_backup_postprep = HSV_df

In [ ]:

# freq function

freq = function(var, name = deparse(substitute(var))){
tbl = table( var)
freq_tbl = tbl %>% as.data.frame()
prop_tbl = as.data.frame(prop.table(tbl) * 100) %>% as.data.frame() %>% select(Freq) %>% rename( "% Freq" = Freq)
total = data.frame(var = "Total", Freq = sum(freq_tbl$Freq), "% Freq" = sum(prop_tbl$`% Freq`))
df = cbind(freq_tbl, prop_tbl)
colnames(total) = colnames(df)
df = rbind(df,total)
xname = c(name, colnames(df)[2:length(colnames(df))])
colnames(df) = xname
  return(df)
}

# ctable function

ctable_fn = function( x, y  ){

tbl = table( x, y) %>% as.data.frame.matrix()

prop_tbl = prop.table(tbl) 

tbl %<>% cbind(.,Total = rowSums(.)) %>% rbind(.,Total = colSums(.))

prop_tbl %<>% cbind(.,Total = rowSums(.)) %>% rbind(.,Total = colSums(.))

prop_tbl =  (prop_tbl * 100) %>% round(2)

break_point = dim(tbl)[2]
for(i in 1: dim(tbl)[2]){
  tbl[,i] = paste0(tbl[,i], " [ " , prop_tbl[,i],  "% ]" )
}


return(tbl)

}

In [ ]:

num_summary = function(value,variable){

df = data.frame(value = as.numeric(value),variable = as.factor(variable))
  ## provide summary of the numerical variables
res = df %>% 

  group_by(variable) %>%
  summarise(Count = n(), Mean = mean(value, na.rm=TRUE), Min = quantile(value, 0, na.rm=TRUE), Q1 = quantile(value, 0.25, na.rm=TRUE), 
  Q2 = quantile(value, 0.5, na.rm=TRUE),  Q3 = quantile(value, 0.75, na.rm=TRUE), Max = quantile(value, 1, na.rm=TRUE),
   Sd = sd(value, na.rm=TRUE), .groups = 'drop') 

return(res)
}

# **Non Parametric Anova**

### **Arsenic 1(URXUAS3 - Urinary Arsenous acid (ug/L)) :**

At alpha level of 0.05, for Urinary Arsenous acid (ug/L), there is statistical significance for **BMI,  marital status, ethnicity, alcohol and cotinine**.

There is no statistical significance for education and poverty index ratio

**BMI**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS3, BMI.f) %>% filter(URXUAS3 != 'NA') %>% filter(BMI.f != 'NA')

# kruskal wallis test
kruskal.test(URXUAS3~ BMI.f , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS3, BMI.f) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS3~ BMI.f , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS3 by BMI.f
Kruskal-Wallis chi-squared = 39.779, df = 3, p-value = 1.187e-08

 Numerical Summaries

  variable      Count Mean      Min  Q1   Q2    Q3     Max  Sd
1 Underweight     80  0.5570000 0.08 0.08 0.375 0.6225 6.71 1.0032131
2 Normal weight 1140  0.5407368 0.08 0.08 0.460 0.7825 8.77 0.5467352
3 Overweight    1166  0.5165695 0.08 0.08 0.450 0.7600 4.80 0.4877226
4 Obesity       1495  0.4273846 0.08 0.08 0.330 0.6500 4.37 0.4118298

 Multiple Comparison

  .y.     group1        group2        n1   n2   statistic   p       p.adj
1 URXUAS3 Underweight   Normal weight   80 1140  1.84880158 0.064   0.13
2 URXUAS3 Underweight   Overweight      80 1166  1.53032488 0.126   0.19
3 URXUAS3 Underweight   Obesity         80 1495 -0.08226827 0.934   0.93
4 URXUAS3 Normal weight Overweight    1140 1166 -0.88747428 0.375   0.45
5 URXUAS3 Normal weight Obesity       1140 1495 -5.67830288 <0.0001 <0.0001
6 URXUAS3 Overweight    Obesity       1166 1495 -4.76847911 <0.0001 <0.0001
  p.adj.signif
1 ns
2 ns
3 ns
4 ns
5 ****
6 ****

**Education**

In [ ]:

# Education
kruskal.test(URXUAS3~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS3 by DMDEDUC2
Kruskal-Wallis chi-squared = 4.7001, df = 4, p-value = 0.3195

**Marital Status**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS3, DMDMARTL) %>% filter(URXUAS3 != 'NA') %>% filter(DMDMARTL != 'NA')

# kruskal wallis test
kruskal.test(URXUAS3~ DMDMARTL , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS3, DMDMARTL) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS3~ DMDMARTL , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS3 by DMDMARTL
Kruskal-Wallis chi-squared = 22.532, df = 5, p-value = 0.0004147

 Numerical Summaries

  variable            Count Mean      Min  Q1   Q2   Q3     Max  Sd
1 Married             1753  0.4965830 0.08 0.08 0.39 0.7400 8.77 0.5370379
2 Widowed              109  0.3719266 0.08 0.08 0.22 0.5800 1.78 0.3598983
3 Divorced             419  0.4027924 0.08 0.08 0.32 0.6400 1.66 0.3545873
4 Separated            142  0.5441549 0.08 0.08 0.46 0.7375 6.71 0.7665139
5 Never married        851  0.4895770 0.08 0.08 0.42 0.7300 3.59 0.4365917
6 Living with partner  416  0.5162019 0.08 0.08 0.46 0.7400 4.68 0.4623935

 Multiple Comparison

   .y.     group1        group2              n1   n2  statistic   p
1  URXUAS3 Married       Widowed             1753 109 -2.48533358 0.01294
2  URXUAS3 Married       Divorced            1753 419 -2.62905532 0.00856
3  URXUAS3 Married       Separated           1753 142  0.04490049 0.96419
4  URXUAS3 Married       Never married       1753 851  1.17389121 0.24044
5  URXUAS3 Married       Living with partner 1753 416  2.08132070 0.0374
6  URXUAS3 Widowed       Divorced             109 419  0.95213648 0.34103
7  URXUAS3 Widowed       Separated            109 142  1.95736088 0.05031
8  URXUAS3 Widowed       Never married        109 851  2.89373906 0.00381
9  URXUAS3 Widowed       Living with partner  109 416  3.33498292 0.00085
10 URXUAS3 Divorced      Separated            419 142  1.51266237 0.13037
11 URXUAS3 Divorced      Never married        419 851  3.21732309 0.00129
12 URXUAS3 Divorced      Living with partner  419 416  3.70557190 0.00021
13 URXUAS3 Separated     Never married        142 851  0.49781993 0.61861
14 URXUAS3 Separated     Living with partner  142 416  1.12758966 0.25949
15 URXUAS3 Never married Living with partner  851 416  1.07756512 0.28123
   p.adj  p.adj.signif
1  0.0324 *
2  0.0257 *
3  0.9642 ns
4  0.3515 ns
5  0.0802 ns
6  0.3935 ns
7  0.0943 ns
8  0.0143 *
9  0.0064 **
10 0.2173 ns
11 0.0065 **
12 0.0032 **
13 0.6628 ns
14 0.3515 ns
15 0.3515 ns

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS3, RIDRETH1) %>% filter(URXUAS3 != 'NA') %>% filter(RIDRETH1 != 'NA')

# kruskal wallis test
kruskal.test(URXUAS3~ RIDRETH1 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS3, RIDRETH1) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS3~ RIDRETH1 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS3 by RIDRETH1
Kruskal-Wallis chi-squared = 56.155, df = 4, p-value = 1.86e-11

 Numerical Summaries

  variable    Count Mean      Min  Q1   Q2   Q3     Max  Sd
1 Mex-Hisp     584  0.5145034 0.08 0.08 0.48 0.7600 4.80 0.4741150
2 Other-Hisp   418  0.5235646 0.08 0.08 0.45 0.8075 4.12 0.4809298
3 Non-Hisp-WT 1440  0.4182639 0.08 0.08 0.33 0.6500 6.71 0.4270191
4 Non-Hisp-BK  893  0.5001792 0.08 0.08 0.40 0.7400 4.37 0.4760466
5 Others       565  0.6082301 0.08 0.08 0.48 0.8400 8.77 0.6722815

 Multiple Comparison

   .y.     group1      group2      n1   n2   statistic  p       p.adj
1  URXUAS3 Mex-Hisp    Other-Hisp   584  418  0.0712404 0.9432  0.943
2  URXUAS3 Mex-Hisp    Non-Hisp-WT  584 1440 -4.5604051 <0.0001 <0.0001
3  URXUAS3 Mex-Hisp    Non-Hisp-BK  584  893 -0.8703275 0.3841  0.434
4  URXUAS3 Mex-Hisp    Others       584  565  1.7259510 0.0844  0.141
5  URXUAS3 Other-Hisp  Non-Hisp-WT  418 1440 -4.1090202 <0.0001 <0.0001
6  URXUAS3 Other-Hisp  Non-Hisp-BK  418  893 -0.8585593 0.3906  0.434
7  URXUAS3 Other-Hisp  Others       418  565  1.5079317 0.1316  0.188
8  URXUAS3 Non-Hisp-WT Non-Hisp-BK 1440  893  4.1651524 <0.0001 <0.0001
9  URXUAS3 Non-Hisp-WT Others      1440  565  6.5584739 <0.0001 <0.0001
10 URXUAS3 Non-Hisp-BK Others       893  565  2.7562626 0.0058  0.012
   p.adj.signif
1  ns
2  ****
3  ns
4  ns
5  ****
6  ns
7  ns
8  ****
9  ****
10 *

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(URXUAS3~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS3 by PIR
Kruskal-Wallis chi-squared = 1.0841, df = 2, p-value = 0.5816

**Alcohol**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS3, ALQ101) %>% filter(URXUAS3 != 'NA') %>% filter(ALQ101 != 'NA')

# kruskal wallis test
kruskal.test(URXUAS3~ ALQ101 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS3, ALQ101) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS3~ ALQ101 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS3 by ALQ101
Kruskal-Wallis chi-squared = 6.564, df = 1, p-value = 0.01041

 Numerical Summaries

  variable Count Mean      Min  Q1   Q2   Q3   Max  Sd
1 Yes      2726  0.4918745 0.08 0.08 0.42 0.73 8.77 0.4846759
2 No        903  0.4648173 0.08 0.08 0.34 0.68 5.97 0.4952980

 Multiple Comparison

  .y.     group1 group2 n1   n2  statistic p    p.adj p.adj.signif
1 URXUAS3 Yes    No     2726 903 -2.562025 0.01 0.01  *

**Cotinine**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS3, LBDCOTLC) %>% filter(URXUAS3 != 'NA') %>% filter(LBDCOTLC != 'NA')

# kruskal wallis test
kruskal.test(URXUAS3~ LBDCOTLC , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS3, LBDCOTLC) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS3~ LBDCOTLC , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS3 by LBDCOTLC
Kruskal-Wallis chi-squared = 9.2829, df = 1, p-value = 0.002313

 Numerical Summaries

  variable    Count Mean      Min  Q1   Q2    Q3   Max  Sd
1 Above limit 2884  0.4994244 0.08 0.08 0.420 0.73 8.77 0.5086130
2 Below Limit  824  0.4391019 0.08 0.08 0.335 0.66 3.40 0.4217097

 Multiple Comparison

  .y.     group1      group2      n1   n2  statistic p      p.adj  p.adj.signif
1 URXUAS3 Above limit Below Limit 2884 824 -3.04679  0.0023 0.0023 **

### **Arsenic 2(URXUAS5 Urinary Arsenic acid (ug/L))**

At alpha level of 0.05, for Urinary Arsenic acid (ug/L), there is statistical significance for **education**.

There is no statistical significance for  marital status, ethnicity, alcohol and cotinine and poverty index ratio.

**BMI**

In [ ]:
# BMI Categorical
kruskal.test(URXUAS5~ BMI.f , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by BMI.f
Kruskal-Wallis chi-squared = 2.1048, df = 3, p-value = 0.5509

**Education**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS5, DMDEDUC2) %>% filter(URXUAS5 != 'NA') %>% filter(DMDEDUC2 != 'NA')

# kruskal wallis test
kruskal.test(URXUAS5~ DMDEDUC2 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS5, DMDEDUC2) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS5~ DMDEDUC2 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS5 by DMDEDUC2
Kruskal-Wallis chi-squared = 17.596, df = 4, p-value = 0.00148

 Numerical Summaries

  variable           Count Mean      Min  Q1   Q2   Q3   Max  Sd
1 Below 9th Grade     313  0.5712141 0.56 0.56 0.56 0.56 1.96 0.1007431
2 9-11 Grade          527  0.5949336 0.56 0.56 0.56 0.56 7.64 0.3542855
3 HS or GED           867  0.5825836 0.56 0.56 0.56 0.56 2.25 0.1276136
4 Some College or AA 1165  0.5715536 0.56 0.56 0.56 0.56 3.36 0.1144000
5 Graduate            817  0.5844308 0.56 0.56 0.56 0.56 8.02 0.3171970

 Multiple Comparison

   .y.     group1             group2             n1   n2   statistic   p
1  URXUAS5 Below 9th Grade    9-11 Grade          313  527  1.46114633 0.14398
2  URXUAS5 Below 9th Grade    HS or GED           313  867  2.48134529 0.01309
3  URXUAS5 Below 9th Grade    Some College or AA  313 1165  0.11521665 0.90827
4  URXUAS5 Below 9th Grade    Graduate            313  817 -0.00395551 0.99684
5  URXUAS5 9-11 Grade         HS or GED           527  867  1.07457857 0.28256
6  URXUAS5 9-11 Grade         Some College or AA  527 1165 -1.84647590 0.06482
7  URXUAS5 9-11 Grade         Graduate            527  817 -1.87096811 0.06135
8  URXUAS5 HS or GED          Some College or AA  867 1165 -3.48447797 0.00049
9  URXUAS5 HS or GED          Graduate            867  817 -3.36119236 0.00078
10 URXUAS5 Some College or AA Graduate           1165  817 -0.16650785 0.86776
   p.adj  p.adj.signif
1  0.24   ns
2  0.0436 *
3  0.9968 ns
4  0.9968 ns
5  0.4037 ns
6  0.1296 ns
7  0.1296 ns
8  0.0039 **
9  0.0039 **
10 0.9968 ns

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(URXUAS5~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by DMDMARTL
Kruskal-Wallis chi-squared = 3.5169, df = 5, p-value = 0.6208

**Race**

In [ ]:

# Race
kruskal.test(URXUAS5~ RIDRETH1 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by RIDRETH1
Kruskal-Wallis chi-squared = 4.5494, df = 4, p-value = 0.3367

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(URXUAS5~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by PIR
Kruskal-Wallis chi-squared = 1.5274, df = 2, p-value = 0.4659

**Alcohol**

In [ ]:

# Alcohol
kruskal.test(URXUAS5~ ALQ101 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by ALQ101
Kruskal-Wallis chi-squared = 0.17486, df = 1, p-value = 0.6758

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(URXUAS5~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by LBDCOTLC
Kruskal-Wallis chi-squared = 0.26072, df = 1, p-value = 0.6096

###  **Arsenic 3 (URXUAB: Urinary Arsenobetaine (ug/L))**

At alpha level of 0.05, for Urinary Arsenobetaine (ug/L), there is statistical significance for **education, marital status, race, poverty index ratio, alcohol.**

There is no statistical significance for BMI and cotinine.

**BMI**

In [ ]:
# BMI Categorical
kruskal.test(URXUAB~ BMI.f , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAB by BMI.f
Kruskal-Wallis chi-squared = 1.7815, df = 3, p-value = 0.619

**Education**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAB, DMDEDUC2) %>% filter(URXUAB != 'NA') %>% filter(DMDEDUC2 != 'NA')

# kruskal wallis test
kruskal.test(URXUAB~ DMDEDUC2 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAB, DMDEDUC2) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAB~ DMDEDUC2 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAB by DMDEDUC2
Kruskal-Wallis chi-squared = 17.152, df = 4, p-value = 0.001806

 Numerical Summaries

  variable           Count Mean     Min  Q1   Q2   Q3   Max    Sd
1 Below 9th Grade     313  8.764856 0.82 0.82 0.82 3.57 475.00 34.26104
2 9-11 Grade          527  5.904516 0.82 0.82 0.82 3.33 212.17 18.73652
3 HS or GED           867  9.255975 0.82 0.82 0.82 4.40 662.24 36.35916
4 Some College or AA 1165  7.621631 0.82 0.82 0.82 3.91 749.00 30.06186
5 Graduate            817  8.649045 0.82 0.82 1.34 5.82 233.40 23.50781

 Multiple Comparison

   .y.    group1             group2             n1   n2   statistic   p
1  URXUAB Below 9th Grade    9-11 Grade          313  527  0.06521529 0.948
2  URXUAB Below 9th Grade    HS or GED           313  867  0.55403893 0.57955
3  URXUAB Below 9th Grade    Some College or AA  313 1165  0.50450273 0.61391
4  URXUAB Below 9th Grade    Graduate            313  817  2.80237419 0.00507
5  URXUAB 9-11 Grade         HS or GED           527  867  0.57717383 0.56382
6  URXUAB 9-11 Grade         Some College or AA  527 1165  0.52318392 0.60085
7  URXUAB 9-11 Grade         Graduate            527  817  3.25095851 0.00115
8  URXUAB HS or GED          Some College or AA  867 1165 -0.09843164 0.92159
9  URXUAB HS or GED          Graduate            867  817  3.07131241 0.00213
10 URXUAB Some College or AA Graduate           1165  817  3.37843194 0.00073
   p.adj  p.adj.signif
1  0.948  ns
2  0.7674 ns
3  0.7674 ns
4  0.0127 *
5  0.7674 ns
6  0.7674 ns
7  0.0058 **
8  0.948  ns
9  0.0071 **
10 0.0058 **

**Marital Status**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAB, DMDMARTL) %>% filter(URXUAB != 'NA') %>% filter(DMDMARTL != 'NA')

# kruskal wallis test
kruskal.test(URXUAB~ DMDMARTL , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAB, DMDMARTL) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAB~ DMDMARTL , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAB by DMDMARTL
Kruskal-Wallis chi-squared = 13.639, df = 5, p-value = 0.01807

 Numerical Summaries

  variable            Count Mean     Min  Q1   Q2   Q3     Max    Sd
1 Married             1753  9.898374 0.82 0.82 1.17 5.1200 662.24 33.52842
2 Widowed              109  6.704862 0.82 0.82 0.82 3.6600 111.90 16.67688
3 Divorced             419  7.634821 0.82 0.82 0.82 3.6100 305.09 25.57944
4 Separated            142  4.998521 0.82 0.82 0.82 2.3475 168.86 16.16396
5 Never married        851  5.848707 0.82 0.82 0.82 3.7900 749.00 28.40979
6 Living with partner  416  6.900457 0.82 0.82 0.82 3.6850 267.42 21.66435

 Multiple Comparison

   .y.    group1        group2              n1   n2  statistic   p      p.adj
1  URXUAB Married       Widowed             1753 109 -1.33099771 0.1832 0.55
2  URXUAB Married       Divorced            1753 419 -1.98560828 0.0471 0.18
3  URXUAB Married       Separated           1753 142 -2.20558601 0.0274 0.18
4  URXUAB Married       Never married       1753 851 -2.68885156 0.0072 0.11
5  URXUAB Married       Living with partner 1753 416 -1.99814778 0.0457 0.18
6  URXUAB Widowed       Divorced             109 419  0.21776615 0.8276 0.99
7  URXUAB Widowed       Separated            109 142 -0.47940104 0.6317 0.99
8  URXUAB Widowed       Never married        109 851  0.18726580 0.8515 0.99
9  URXUAB Widowed       Living with partner  109 416  0.20833263 0.835  0.99
10 URXUAB Divorced      Separated            419 142 -0.86983991 0.3844 0.73
11 URXUAB Divorced      Never married        419 851 -0.07311797 0.9417 0.99
12 URXUAB Divorced      Living with partner  419 416 -0.01441401 0.9885 0.99
13 URXUAB Separated     Never married        142 851  0.88362161 0.3769 0.73
14 URXUAB Separated     Living with partner  142 416  0.85878236 0.3905 0.73
15 URXUAB Never married Living with partner  851 416  0.05626573 0.9551 0.99
   p.adj.signif
1  ns
2  ns
3  ns
4  ns
5  ns
6  ns
7  ns
8  ns
9  ns
10 ns
11 ns
12 ns
13 ns
14 ns
15 ns

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAB, RIDRETH1) %>% filter(URXUAB != 'NA') %>% filter(RIDRETH1 != 'NA')

# kruskal wallis test
kruskal.test(URXUAB~ RIDRETH1 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAB, RIDRETH1) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAB~ RIDRETH1 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAB by RIDRETH1
Kruskal-Wallis chi-squared = 144.45, df = 4, p-value < 2.2e-16

 Numerical Summaries

  variable    Count Mean      Min  Q1   Q2    Q3    Max    Sd
1 Mex-Hisp     584   5.014606 0.82 0.82 0.820 2.145 214.00 17.36135
2 Other-Hisp   418  10.069928 0.82 0.82 1.265 5.225 662.24 40.61379
3 Non-Hisp-WT 1440   5.072632 0.82 0.82 0.820 2.820 233.40 16.50167
4 Non-Hisp-BK  893  10.378130 0.82 0.82 1.460 5.800 749.00 38.73257
5 Others       565  13.068124 0.82 0.82 2.360 9.890 475.00 33.79618

 Multiple Comparison

   .y.    group1      group2      n1   n2   statistic p       p.adj
1  URXUAB Mex-Hisp    Other-Hisp   584  418  4.604881 <0.0001 <0.0001
2  URXUAB Mex-Hisp    Non-Hisp-WT  584 1440  1.051697 0.29294 0.29294
3  URXUAB Mex-Hisp    Non-Hisp-BK  584  893  6.788407 <0.0001 <0.0001
4  URXUAB Mex-Hisp    Others       584  565  9.039848 <0.0001 <0.0001
5  URXUAB Other-Hisp  Non-Hisp-WT  418 1440 -4.381463 <0.0001 <0.0001
6  URXUAB Other-Hisp  Non-Hisp-BK  418  893  1.117734 0.26368 0.29294
7  URXUAB Other-Hisp  Others       418  565  3.695571 0.00022 0.00031
8  URXUAB Non-Hisp-WT Non-Hisp-BK 1440  893  7.270240 <0.0001 <0.0001
9  URXUAB Non-Hisp-WT Others      1440  565  9.706463 <0.0001 <0.0001
10 URXUAB Non-Hisp-BK Others       893  565  3.202995 0.00136 0.0017
   p.adj.signif
1  ****
2  ns
3  ****
4  ****
5  ****
6  ns
7  ***
8  ****
9  ****
10 **

**Poverty Income Ratio**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAB, PIR) %>% filter(URXUAB != 'NA') %>% filter(PIR != 'NA')

# kruskal wallis test
kruskal.test(URXUAB~ PIR , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAB, PIR) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAB~ PIR , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAB by PIR
Kruskal-Wallis chi-squared = 33.112, df = 2, p-value = 6.453e-08

 Numerical Summaries

  variable Count Mean     Min  Q1   Q2   Q3     Max    Sd
1 1.0      1329  5.843198 0.82 0.82 0.82 2.9500 662.24 23.75531
2 2.0      1296  9.318094 0.82 0.82 0.82 4.5475 749.00 35.17894
3 3.0       958  7.780282 0.82 0.82 1.26 5.6225 233.40 20.19402

 Multiple Comparison

  .y.    group1 group2 n1   n2   statistic p       p.adj   p.adj.signif
1 URXUAB 1.0    2.0    1329 1296 4.173840  <0.0001 <0.0001 ****
2 URXUAB 1.0    3.0    1329  958 5.426023  <0.0001 <0.0001 ****
3 URXUAB 2.0    3.0    1296  958 1.573087  0.12    0.12    ns

**Alcohol**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAB, ALQ101) %>% filter(URXUAB != 'NA') %>% filter(ALQ101 != 'NA')

# kruskal wallis test
kruskal.test(URXUAB~ ALQ101 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAB, ALQ101) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAB~ ALQ101 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAB by ALQ101
Kruskal-Wallis chi-squared = 12.488, df = 1, p-value = 0.0004095

 Numerical Summaries

  variable Count Mean     Min  Q1   Q2   Q3   Max Sd
1 Yes      2726  7.722304 0.82 0.82 0.82 4.38 749 29.27232
2 No        903  7.879911 0.82 0.82 0.82 3.24 475 28.01952

 Multiple Comparison

  .y.    group1 group2 n1   n2  statistic p       p.adj   p.adj.signif
1 URXUAB Yes    No     2726 903 -3.533855 0.00041 0.00041 ***

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(URXUAB~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAB by LBDCOTLC
Kruskal-Wallis chi-squared = 0.52851, df = 1, p-value = 0.4672

###  **Arsenic 4(URXUAC - Urinary Arsenocholine (ug/L))** 

At alpha level of 0.05, for Urinary Arsenocholine (ug/L), there is statistical significance for  **race and poverty index ratio**.

There is no statistical significance for education, marital status, BMI and cotinine, alcohol.

**BMI**

In [ ]:
# BMI Categorical
kruskal.test(URXUAC~ BMI.f , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAC by BMI.f
Kruskal-Wallis chi-squared = 1.0618, df = 3, p-value = 0.7863

**Education**

In [ ]:

# Education
kruskal.test(URXUAC~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAC by DMDEDUC2
Kruskal-Wallis chi-squared = 1.988, df = 4, p-value = 0.738

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(URXUAC~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAC by DMDMARTL
Kruskal-Wallis chi-squared = 8.6991, df = 5, p-value = 0.1217

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAC, RIDRETH1) %>% filter(URXUAC != 'NA') %>% filter(RIDRETH1 != 'NA')

# kruskal wallis test
kruskal.test(URXUAC~ RIDRETH1 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAC, RIDRETH1) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAC~ RIDRETH1 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAC by RIDRETH1
Kruskal-Wallis chi-squared = 59.302, df = 4, p-value = 4.066e-12

 Numerical Summaries

  variable    Count Mean      Min  Q1   Q2   Q3   Max   Sd
1 Mex-Hisp     584  0.1574144 0.08 0.08 0.08 0.08 10.98 0.4856733
2 Other-Hisp   418  0.1327033 0.08 0.08 0.08 0.08  1.50 0.1618111
3 Non-Hisp-WT 1440  0.1091875 0.08 0.08 0.08 0.08  2.81 0.1377233
4 Non-Hisp-BK  893  0.1617917 0.08 0.08 0.08 0.08  8.88 0.3698872
5 Others       565  0.2039646 0.08 0.08 0.08 0.08 14.20 0.7378918

 Multiple Comparison

   .y.    group1      group2      n1   n2   statistic  p       p.adj
1  URXUAC Mex-Hisp    Other-Hisp   584  418 -0.4884104 0.62526 0.6947
2  URXUAC Mex-Hisp    Non-Hisp-WT  584 1440 -4.3659711 <0.0001 <0.0001
3  URXUAC Mex-Hisp    Non-Hisp-BK  584  893  1.0909804 0.27528 0.3441
4  URXUAC Mex-Hisp    Others       584  565  1.2583065 0.20828 0.2975
5  URXUAC Other-Hisp  Non-Hisp-WT  418 1440 -3.2919723 0.00099 0.0025
6  URXUAC Other-Hisp  Non-Hisp-BK  418  893  1.5076909 0.13163 0.2194
7  URXUAC Other-Hisp  Others       418  565  1.6359568 0.10185 0.2037
8  URXUAC Non-Hisp-WT Non-Hisp-BK 1440  893  6.3917014 <0.0001 <0.0001
9  URXUAC Non-Hisp-WT Others      1440  565  5.8104288 <0.0001 <0.0001
10 URXUAC Non-Hisp-BK Others       893  565  0.3012408 0.76323 0.7632
   p.adj.signif
1  ns
2  ****
3  ns
4  ns
5  **
6  ns
7  ns
8  ****
9  ****
10 ns

**Poverty Income Ratio**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAC, PIR) %>% filter(URXUAC != 'NA') %>% filter(PIR != 'NA')

# kruskal wallis test
kruskal.test(URXUAC~ PIR , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAC, PIR) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAC~ PIR , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAC by PIR
Kruskal-Wallis chi-squared = 6.6782, df = 2, p-value = 0.03547

 Numerical Summaries

  variable Count Mean      Min  Q1   Q2   Q3   Max   Sd
1 1.0      1329  0.1245749 0.08 0.08 0.08 0.08  1.80 0.1518440
2 2.0      1296  0.1652083 0.08 0.08 0.08 0.08 14.20 0.5818458
3 3.0       958  0.1386534 0.08 0.08 0.08 0.08  4.99 0.2304635

 Multiple Comparison

  .y.    group1 group2 n1   n2   statistic p     p.adj p.adj.signif
1 URXUAC 1.0    2.0    1329 1296 0.7810957 0.435 0.435 ns
2 URXUAC 1.0    3.0    1329  958 2.5490953 0.011 0.032 *
3 URXUAC 2.0    3.0    1296  958 1.8199396 0.069 0.103 ns

**Alcohol**

In [ ]:

# Alcohol
kruskal.test(URXUAC~ ALQ101 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAC by ALQ101
Kruskal-Wallis chi-squared = 0.83168, df = 1, p-value = 0.3618

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(URXUAC~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAC by LBDCOTLC
Kruskal-Wallis chi-squared = 0.076888, df = 1, p-value = 0.7816

###  **Arsenic 5(URXUDMA : Urinary Dimethylarsinic acid (ug/L))** 

At alpha level of 0.05, for Urinary Dimethylarsinic acid (ug/L), there is statistical significance for  **BMI and race**

There is no statistical significance for education, marital status, cotinine, alcohol, and poverty index ratio.

**BMI**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUDMA, BMI.f ) %>% filter(URXUDMA != 'NA') %>% filter(BMI.f  != 'NA')

# kruskal wallis test
kruskal.test(URXUDMA~ BMI.f  , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUDMA, BMI.f ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUDMA~ BMI.f  , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUDMA by BMI.f
Kruskal-Wallis chi-squared = 21.226, df = 3, p-value = 9.449e-05

 Numerical Summaries

  variable      Count Mean     Min  Q1    Q2    Q3    Max   Sd
1 Underweight     80  6.119625 1.35 1.350 2.550 5.545 84.70 11.921654
2 Normal weight 1140  5.119211 1.35 1.350 3.185 5.700 68.41  6.061702
3 Overweight    1166  5.073208 1.35 1.350 3.300 5.930 51.51  5.745972
4 Obesity       1495  4.753385 1.35 2.015 3.470 5.660 80.75  4.984157

 Multiple Comparison

  .y.     group1        group2        n1   n2   statistic p       p.adj
1 URXUDMA Underweight   Normal weight   80 1140 0.725040  0.4684  0.46843
2 URXUDMA Underweight   Overweight      80 1166 1.255601  0.2093  0.25111
3 URXUDMA Underweight   Obesity         80 1495 2.188070  0.0287  0.05733
4 URXUDMA Normal weight Overweight    1140 1166 1.470745  0.1414  0.21204
5 URXUDMA Normal weight Obesity       1140 1495 4.253161  <0.0001 0.00013
6 URXUDMA Overweight    Obesity       1166 1495 2.712443  0.0067  0.02004
  p.adj.signif
1 ns
2 ns
3 ns
4 ns
5 ***
6 *

**Education**

In [ ]:

# Education
kruskal.test(URXUDMA~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUDMA by DMDEDUC2
Kruskal-Wallis chi-squared = 2.1234, df = 4, p-value = 0.7131

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(URXUDMA~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUDMA by DMDMARTL
Kruskal-Wallis chi-squared = 3.1394, df = 5, p-value = 0.6785

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUDMA, RIDRETH1  ) %>% filter(URXUDMA != 'NA') %>% filter(RIDRETH1   != 'NA')

# kruskal wallis test
kruskal.test(URXUDMA~ RIDRETH1   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUDMA, RIDRETH1  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUDMA~ RIDRETH1   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUDMA by RIDRETH1
Kruskal-Wallis chi-squared = 78.427, df = 4, p-value = 3.752e-16

 Numerical Summaries

  variable    Count Mean     Min  Q1   Q2    Q3    Max   Sd
1 Mex-Hisp     584  4.368990 1.35 2.01 3.365 5.185 49.30 4.225119
2 Other-Hisp   418  5.828732 1.35 2.26 4.070 7.365 51.36 6.356071
3 Non-Hisp-WT 1440  3.798861 1.35 1.35 2.650 4.590 84.70 4.264914
4 Non-Hisp-BK  893  5.186764 1.35 2.08 3.460 5.850 80.75 5.990751
5 Others       565  7.713876 1.35 2.72 5.050 9.780 68.41 8.117739

 Multiple Comparison

   .y.     group1      group2      n1   n2   statistic  p       p.adj
1  URXUDMA Mex-Hisp    Other-Hisp   584  418  1.7727829 0.076   0.109
2  URXUDMA Mex-Hisp    Non-Hisp-WT  584 1440 -5.1949378 <0.0001 <0.0001
3  URXUDMA Mex-Hisp    Non-Hisp-BK  584  893 -0.6161800 0.538   0.538
4  URXUDMA Mex-Hisp    Others       584  565  1.2158715 0.224   0.28
5  URXUDMA Other-Hisp  Non-Hisp-WT  418 1440 -6.6314508 <0.0001 <0.0001
6  URXUDMA Other-Hisp  Non-Hisp-BK  418  893 -2.4698159 0.014   0.027
7  URXUDMA Other-Hisp  Others       418  565 -0.6483548 0.517   0.538
8  URXUDMA Non-Hisp-WT Non-Hisp-BK 1440  893  5.2135269 <0.0001 <0.0001
9  URXUDMA Non-Hisp-WT Others      1440  565  6.5792103 <0.0001 <0.0001
10 URXUDMA Non-Hisp-BK Others       893  565  1.9447240 0.052   0.086
   p.adj.signif
1  ns
2  ****
3  ns
4  ns
5  ****
6  *
7  ns
8  ****
9  ****
10 ns

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(URXUDMA~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUDMA by PIR
Kruskal-Wallis chi-squared = 1.206, df = 2, p-value = 0.5472

**Alcohol**

In [ ]:

# Alcohol
kruskal.test(URXUDMA~ ALQ101 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUDMA by ALQ101
Kruskal-Wallis chi-squared = 1.2406, df = 1, p-value = 0.2654

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(URXUDMA~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUDMA by LBDCOTLC
Kruskal-Wallis chi-squared = 0.99525, df = 1, p-value = 0.3185

###  **Arsenic 6(URXUMMA: Urinary Monomethylacrsonic acid (ug/L))**

At alpha level of 0.05, for Urinary Monomethylacrsonic acid (ug/L), there is statistical significance for **BMI, alcohol, cotinine and race.**

There is no statistical significance for education, marital status,  and poverty index ratio.

**BMI**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUMMA, BMI.f  ) %>% filter(URXUMMA != 'NA') %>% filter(BMI.f   != 'NA')

# kruskal wallis test
kruskal.test(URXUMMA~ BMI.f   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUMMA, BMI.f  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUMMA~ BMI.f   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUMMA by BMI.f
Kruskal-Wallis chi-squared = 47.602, df = 3, p-value = 2.588e-10

 Numerical Summaries

  variable      Count Mean      Min  Q1   Q2    Q3     Max   Sd
1 Underweight     80  0.8540000 0.14 0.14 0.435 0.9325 17.00 1.9495865
2 Normal weight 1140  0.6809386 0.14 0.14 0.520 0.9000  6.26 0.6613100
3 Overweight    1166  0.6489880 0.14 0.14 0.490 0.8800  6.11 0.6538916
4 Obesity       1495  0.5362943 0.14 0.14 0.370 0.7400 13.00 0.6002307

 Multiple Comparison

  .y.     group1        group2        n1   n2   statistic  p       p.adj
1 URXUMMA Underweight   Normal weight   80 1140  0.7889001 0.43    0.52
2 URXUMMA Underweight   Overweight      80 1166  0.1634513 0.87    0.87
3 URXUMMA Underweight   Obesity         80 1495 -1.4539366 0.146   0.22
4 URXUMMA Normal weight Overweight    1140 1166 -1.7371180 0.082   0.16
5 URXUMMA Normal weight Obesity       1140 1495 -6.5638217 <0.0001 <0.0001
6 URXUMMA Overweight    Obesity       1166 1495 -4.7538950 <0.0001 <0.0001
  p.adj.signif
1 ns
2 ns
3 ns
4 ns
5 ****
6 ****

**Education**

In [ ]:

# Education
kruskal.test(URXUMMA~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUMMA by DMDEDUC2
Kruskal-Wallis chi-squared = 3.2495, df = 4, p-value = 0.517

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(URXUMMA~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUMMA by DMDMARTL
Kruskal-Wallis chi-squared = 4.441, df = 5, p-value = 0.4878

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUMMA, RIDRETH1  ) %>% filter(URXUMMA != 'NA') %>% filter(RIDRETH1   != 'NA')

# kruskal wallis test
kruskal.test(URXUMMA~ RIDRETH1   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUMMA, RIDRETH1  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUMMA~ RIDRETH1   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUMMA by RIDRETH1
Kruskal-Wallis chi-squared = 57.093, df = 4, p-value = 1.183e-11

 Numerical Summaries

  variable    Count Mean      Min  Q1   Q2    Q3     Max   Sd
1 Mex-Hisp     584  0.5511473 0.14 0.14 0.390 0.7700  6.11 0.5762321
2 Other-Hisp   418  0.7377751 0.14 0.14 0.535 1.0075 13.00 0.8823071
3 Non-Hisp-WT 1440  0.5724444 0.14 0.14 0.420 0.7625 17.00 0.6968043
4 Non-Hisp-BK  893  0.5836394 0.14 0.14 0.440 0.8100  6.26 0.5567546
5 Others       565  0.7805664 0.14 0.14 0.570 1.0300  5.74 0.7827806

 Multiple Comparison

   .y.     group1      group2      n1   n2   statistic  p       p.adj
1  URXUMMA Mex-Hisp    Other-Hisp   584  418  4.5023642 <0.0001 <0.0001
2  URXUMMA Mex-Hisp    Non-Hisp-WT  584 1440  0.7188886 0.4722  0.4775
3  URXUMMA Mex-Hisp    Non-Hisp-BK  584  893  1.7246216 0.0846  0.1209
4  URXUMMA Mex-Hisp    Others       584  565  5.6647990 <0.0001 <0.0001
5  URXUMMA Other-Hisp  Non-Hisp-WT  418 1440 -4.5571180 <0.0001 <0.0001
6  URXUMMA Other-Hisp  Non-Hisp-BK  418  893 -3.3186587 0.0009  0.0015
7  URXUMMA Other-Hisp  Others       418  565  0.7103163 0.4775  0.4775
8  URXUMMA Non-Hisp-WT Non-Hisp-BK 1440  893  1.3267759 0.1846  0.2307
9  URXUMMA Non-Hisp-WT Others      1440  565  6.0233900 <0.0001 <0.0001
10 URXUMMA Non-Hisp-BK Others       893  565  4.5111396 <0.0001 <0.0001
   p.adj.signif
1  ****
2  ns
3  ns
4  ****
5  ****
6  **
7  ns
8  ns
9  ****
10 ****

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(URXUMMA~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUMMA by PIR
Kruskal-Wallis chi-squared = 1.6346, df = 2, p-value = 0.4416

**Alcohol**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUMMA, ALQ101  ) %>% filter(URXUMMA != 'NA') %>% filter(ALQ101   != 'NA')

# kruskal wallis test
kruskal.test(URXUMMA~ ALQ101   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUMMA, ALQ101  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUMMA~ ALQ101   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUMMA by ALQ101
Kruskal-Wallis chi-squared = 5.6462, df = 1, p-value = 0.01749

 Numerical Summaries

  variable Count Mean      Min  Q1   Q2   Q3   Max   Sd
1 Yes      2726  0.6127073 0.14 0.14 0.47 0.84 13.00 0.6334725
2 No        903  0.5822259 0.14 0.14 0.41 0.76  6.26 0.6118177

 Multiple Comparison

  .y.     group1 group2 n1   n2  statistic p     p.adj p.adj.signif
1 URXUMMA Yes    No     2726 903 -2.376179 0.017 0.017 *

**Cotinine**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUMMA, LBDCOTLC  ) %>% filter(URXUMMA != 'NA') %>% filter(LBDCOTLC   != 'NA')

# kruskal wallis test
kruskal.test(URXUMMA~ LBDCOTLC   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUMMA, LBDCOTLC  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUMMA~ LBDCOTLC   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUMMA by LBDCOTLC
Kruskal-Wallis chi-squared = 7.2149, df = 1, p-value = 0.00723

 Numerical Summaries

  variable    Count Mean      Min  Q1   Q2   Q3     Max Sd
1 Above limit 2884  0.6251595 0.14 0.14 0.47 0.8500 17  0.6761364
2 Below Limit  824  0.5699393 0.14 0.14 0.41 0.7525 13  0.6901407

 Multiple Comparison

  .y.     group1      group2      n1   n2  statistic p      p.adj  p.adj.signif
1 URXUMMA Above limit Below Limit 2884 824 -2.686059 0.0072 0.0072 **

### **TUA ( Total Urinary Arsenic )** 

At alpha level of 0.05, for Total urinary arsenic, there is statistical significance for **race and alcohol.**

There is no statistical significance for education, marital status,   BMI, alcohol, cotinine and  and poverty index ratio.

In [ ]:
# BMI Categorical
kruskal.test(TUA~ BMI.f , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA by BMI.f
Kruskal-Wallis chi-squared = 4.4095, df = 3, p-value = 0.2205

In [ ]:

# Education
kruskal.test(TUA~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA by DMDEDUC2
Kruskal-Wallis chi-squared = 4.4884, df = 4, p-value = 0.3439

In [ ]:

# Marital Status
kruskal.test(TUA~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA by DMDMARTL
Kruskal-Wallis chi-squared = 7.7699, df = 5, p-value = 0.1694

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA, RIDRETH1  ) %>% filter(TUA != 'NA') %>% filter(RIDRETH1   != 'NA')

# kruskal wallis test
kruskal.test(TUA~ RIDRETH1   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA, RIDRETH1  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA~ RIDRETH1   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA by RIDRETH1
Kruskal-Wallis chi-squared = 23.793, df = 4, p-value = 8.79e-05

 Numerical Summaries

  variable    Count Mean     Min  Q1     Q2     Q3      Max    Sd
1 Mex-Hisp     581  10.79318 0.95 3.2100  5.980 10.1900 250.60 22.12063
2 Other-Hisp   420  17.37586 0.97 3.9350  7.540 15.0825 677.14 43.82980
3 Non-Hisp-WT 1436  10.11479 0.68 2.6500  4.900  9.9050 239.58 20.32993
4 Non-Hisp-BK  894  17.61885 0.90 4.0225  7.275 15.1350 849.22 44.17710
5 Others       565  23.92568 0.91 4.6800 10.350 24.5100 528.44 42.37945

 Multiple Comparison

   .y. group1      group2      n1   n2   statistic   p       p.adj
1  TUA Mex-Hisp    Other-Hisp   581  420 -0.16144015 0.87175 0.9576
2  TUA Mex-Hisp    Non-Hisp-WT  581 1436 -3.50400220 0.00046 0.0023
3  TUA Mex-Hisp    Non-Hisp-BK  581  894 -0.25300913 0.80026 0.9576
4  TUA Mex-Hisp    Others       581  565 -0.29228416 0.77007 0.9576
5  TUA Other-Hisp  Non-Hisp-WT  420 1436 -2.91934605 0.00351 0.0088
6  TUA Other-Hisp  Non-Hisp-BK  420  894 -0.05312605 0.95763 0.9576
7  TUA Other-Hisp  Others       420  565 -0.10756064 0.91434 0.9576
8  TUA Non-Hisp-WT Non-Hisp-BK 1436  894  3.72760501 0.00019 0.0019
9  TUA Non-Hisp-WT Others      1436  565  3.12145791 0.0018  0.006
10 TUA Non-Hisp-BK Others       894  565 -0.07046416 0.94382 0.9576
   p.adj.signif
1  ns
2  **
3  ns
4  ns
5  **
6  ns
7  ns
8  **
9  **
10 ns

In [ ]:

# Poverty Income Ratio
kruskal.test(TUA~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA by PIR
Kruskal-Wallis chi-squared = 2.1895, df = 2, p-value = 0.3346

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA, ALQ101  ) %>% filter(TUA != 'NA') %>% filter(ALQ101   != 'NA')

# kruskal wallis test
kruskal.test(TUA~ ALQ101   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA, ALQ101  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA~ ALQ101   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA by ALQ101
Kruskal-Wallis chi-squared = 5.946, df = 1, p-value = 0.01475

 Numerical Summaries

  variable Count Mean     Min  Q1    Q2   Q3     Max    Sd
1 Yes      2726  14.27223 0.68 3.370 6.39 12.635 849.22 34.28276
2 No        903  14.62050 0.91 2.935 5.88 12.400 528.44 33.25597

 Multiple Comparison

  .y. group1 group2 n1   n2  statistic p     p.adj p.adj.signif
1 TUA Yes    No     2726 903 -2.438448 0.015 0.015 *

In [ ]:

# Cotinine
kruskal.test(TUA~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA by LBDCOTLC
Kruskal-Wallis chi-squared = 0.99988, df = 1, p-value = 0.3173

### **TUA1**

At alpha level of 0.05, for combination of arsenous acid , arsenicacid , monomethylarsonic acid and dimethylarsenic acid, there is statistical significance for **BMI, race and alcohol.**

There is no statistical significance for education, marital status, cotinine and poverty index ratio.

**BMI**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA1, BMI.f  ) %>% filter(TUA1 != 'NA') %>% filter(BMI.f   != 'NA')

# kruskal wallis test
kruskal.test(TUA1~ BMI.f   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA1, BMI.f  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA1~ BMI.f   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA1 by BMI.f
Kruskal-Wallis chi-squared = 10.78, df = 3, p-value = 0.01298

 Numerical Summaries

  variable      Count Mean     Min  Q1     Q2    Q3     Max    Sd
1 Underweight     80  8.179125 2.13 2.5825 3.885 7.9125 116.05 15.247710
2 Normal weight 1140  6.929140 2.13 2.8975 4.835 8.0300  87.04  6.895633
3 Overweight    1166  6.818877 2.13 2.8950 4.840 7.9550  59.11  6.509300
4 Obesity       1495  6.287492 2.13 2.9650 4.910 7.5000  82.34  5.500950

 Multiple Comparison

  .y.  group1        group2        n1   n2   statistic   p     p.adj
1 TUA1 Underweight   Normal weight   80 1140  1.23603978 0.216 0.27
2 TUA1 Underweight   Overweight      80 1166  1.21367545 0.225 0.27
3 TUA1 Underweight   Obesity         80 1495  2.06558409 0.039 0.078
4 TUA1 Normal weight Overweight    1140 1166 -0.06456754 0.949 0.949
5 TUA1 Normal weight Obesity       1140 1495  2.39259480 0.017 0.05
6 TUA1 Overweight    Obesity       1166 1495  2.47670654 0.013 0.05
  p.adj.signif
1 ns
2 ns
3 ns
4 ns
5 ns
6 ns

**Education**

In [ ]:

# Education
kruskal.test(TUA1~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA1 by DMDEDUC2
Kruskal-Wallis chi-squared = 5.4113, df = 4, p-value = 0.2476

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(TUA1~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA1 by DMDMARTL
Kruskal-Wallis chi-squared = 5.6874, df = 5, p-value = 0.3378

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA1, RIDRETH1  ) %>% filter(TUA1 != 'NA') %>% filter(RIDRETH1   != 'NA')

# kruskal wallis test
kruskal.test(TUA1~ RIDRETH1   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA1, RIDRETH1  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA1~ RIDRETH1   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA1 by RIDRETH1
Kruskal-Wallis chi-squared = 9.6953, df = 4, p-value = 0.04589

 Numerical Summaries

  variable    Count Mean     Min  Q1     Q2    Q3      Max    Sd
1 Mex-Hisp     584  6.013099 2.13 3.0550 4.820  7.0375  59.11 4.940346
2 Other-Hisp   418  7.673876 2.13 3.4150 5.835  9.8225  54.36 7.100668
3 Non-Hisp-WT 1440  5.363764 2.13 2.4775 4.040  6.5000 116.05 5.205841
4 Non-Hisp-BK  893  6.849642 2.13 3.2200 5.000  7.8700  82.34 6.519551
5 Others       565  9.698319 2.13 3.9100 6.810 12.2100  87.04 9.206074

 Multiple Comparison

   .y.  group1      group2      n1   n2   statistic  p     p.adj p.adj.signif
1  TUA1 Mex-Hisp    Other-Hisp   584  418 -2.3337598 0.02  0.11  ns
2  TUA1 Mex-Hisp    Non-Hisp-WT  584 1440 -2.1394292 0.032 0.11  ns
3  TUA1 Mex-Hisp    Non-Hisp-BK  584  893 -0.6544988 0.513 0.64  ns
4  TUA1 Mex-Hisp    Others       584  565 -2.1441895 0.032 0.11  ns
5  TUA1 Other-Hisp  Non-Hisp-WT  418 1440  0.8020445 0.423 0.6   ns
6  TUA1 Other-Hisp  Non-Hisp-BK  418  893  1.9352140 0.053 0.13  ns
7  TUA1 Other-Hisp  Others       418  565  0.3563322 0.722 0.72  ns
8  TUA1 Non-Hisp-WT Non-Hisp-BK 1440  893  1.6463960 0.1   0.17  ns
9  TUA1 Non-Hisp-WT Others      1440  565 -0.4345434 0.664 0.72  ns
10 TUA1 Non-Hisp-BK Others       893  565 -1.7058234 0.088 0.17  ns

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(TUA1~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA1 by PIR
Kruskal-Wallis chi-squared = 1.4758, df = 2, p-value = 0.4781

**Alcohol**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA1, ALQ101  ) %>% filter(TUA1 != 'NA') %>% filter(ALQ101   != 'NA')

# kruskal wallis test
kruskal.test(TUA1~ ALQ101   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA1, ALQ101  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA1~ ALQ101   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA1 by ALQ101
Kruskal-Wallis chi-squared = 3.5303, df = 1, p-value = 0.06026

 Numerical Summaries

  variable Count Mean     Min  Q1     Q2   Q3   Max   Sd
1 Yes      2726  6.468232 2.13 2.9225 4.85 7.55 87.04 6.055535
2 No        903  6.654873 2.13 2.7700 4.64 7.85 76.48 6.567355

 Multiple Comparison

  .y.  group1 group2 n1   n2  statistic p    p.adj p.adj.signif
1 TUA1 Yes    No     2726 903 -1.878907 0.06 0.06  ns

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(TUA1~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA1 by LBDCOTLC
Kruskal-Wallis chi-squared = 0.3518, df = 1, p-value = 0.5531

### **TUA2**

At alpha level of 0.05, for combination of arsenobetaine and arsenocholine, there is statistical significance for **race**.

There is no statistical significance for BMI,  education, marital status, cotinine, alcohol and poverty index ratio.

**BMI**

In [ ]:
# BMI Categorical
kruskal.test(TUA2~ BMI.f , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by BMI.f
Kruskal-Wallis chi-squared = 7.3405, df = 3, p-value = 0.0618

**Education**

In [ ]:

# Education
kruskal.test(TUA2~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by DMDEDUC2
Kruskal-Wallis chi-squared = 4.9064, df = 4, p-value = 0.297

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(TUA2~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by DMDMARTL
Kruskal-Wallis chi-squared = 10.629, df = 5, p-value = 0.05926

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA2, RIDRETH1  ) %>% filter(TUA2 != 'NA') %>% filter(RIDRETH1   != 'NA')

# kruskal wallis test
kruskal.test(TUA2~ RIDRETH1   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA2, RIDRETH1  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA2~ RIDRETH1   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA2 by RIDRETH1
Kruskal-Wallis chi-squared = 45.787, df = 4, p-value = 2.728e-09

 Numerical Summaries

  variable    Count Mean      Min      Q1    Q2   Q3     Max    Sd
1 Mex-Hisp     581   5.607556 4.00e-02 1.910 4.20  6.820  92.07  7.073200
2 Other-Hisp   417   7.443525 3.00e-02 2.630 4.95  9.120  99.32  9.697610
3 Non-Hisp-WT 1427   4.799650 0.00e+00 1.430 3.21  6.010 125.45  6.373066
4 Non-Hisp-BK  887   7.111657 6.94e-17 2.315 4.45  7.875 143.89 10.647981
5 Others       563  10.693925 1.00e-02 2.865 6.47 12.140 172.50 15.048249

 Multiple Comparison

   .y.  group1      group2      n1   n2   statistic  p       p.adj
1  TUA2 Mex-Hisp    Other-Hisp   581  417  0.6175409 0.53688 0.67894
2  TUA2 Mex-Hisp    Non-Hisp-WT  581 1427 -3.7899794 0.00015 0.00038
3  TUA2 Mex-Hisp    Non-Hisp-BK  581  887  0.4789263 0.63199 0.70221
4  TUA2 Mex-Hisp    Others       581  563  1.3344898 0.18204 0.36409
5  TUA2 Other-Hisp  Non-Hisp-WT  417 1427 -4.0625571 <0.0001 0.00016
6  TUA2 Other-Hisp  Non-Hisp-BK  417  887 -0.2370228 0.81264 0.81264
7  TUA2 Other-Hisp  Others       417  563  0.6080479 0.54316 0.67894
8  TUA2 Non-Hisp-WT Non-Hisp-BK 1427  887  4.9600771 <0.0001 <0.0001
9  TUA2 Non-Hisp-WT Others      1427  563  5.3333607 <0.0001 <0.0001
10 TUA2 Non-Hisp-BK Others       887  563  0.9902303 0.32206 0.53677
   p.adj.signif
1  ns
2  ***
3  ns
4  ns
5  ***
6  ns
7  ns
8  ****
9  ****
10 ns

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(TUA2~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by PIR
Kruskal-Wallis chi-squared = 0.83033, df = 2, p-value = 0.6602

**Alcohol**

In [ ]:

# Alcohol
kruskal.test(TUA2~ ALQ101 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by ALQ101
Kruskal-Wallis chi-squared = 1.6953, df = 1, p-value = 0.1929

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(TUA2~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by LBDCOTLC
Kruskal-Wallis chi-squared = 0.18416, df = 1, p-value = 0.6678