<a href="https://colab.research.google.com/github/akinzayn/HPV-Research/blob/main/Penile_HPV_EDA_Note_9_%5BNon_Parametric_Anova%5D_with_Report_Comments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Preparation**

In [ ]:
#  https://stackoverflow.com/questions/34818723/export-notebook-to-pdf-without-code



# I was seeking the same question in SO and finally turned out to a very straightforward way:

# Assuming using Firefox(57) + Win7 or Any browser where you have access to console

# Run Jupyter notebook and download the notebook in the browser: File->Download as->HTML and you will get a html page with code and output.
# Open the exported HTML with browser and activate the browser console with key F12
# Run following command in the console:

# document.querySelectorAll("div.input").forEach(function(a){a.remove()})
# The code removes all input div DOM. Then right mouse button and chose "Save Page As" and Save the "Complete page" (not single page).

# You will get a page with an associated folder in windows. Use a trick by zip the html page and then extract to unbind the associated. The folder is useless.

# Now it is a single html page without code. You can re-distribute it or print it as PDF.

# If you are not using Firefox or Windows, please adjust the above 3-6 steps.




# I think now is document.querySelectorAll("div.jp-InputArea.jp-Cell-inputArea").forEach(function(a){a.remove()}) 
# but this for example will keep the errors and markdown with maybe you don't want. 
# To remove all input cells, not only code cells you could use:
#  document.querySelectorAll("jp-Cell jp-CodeCell jp-Notebook-cell").forEach(function(a){a.remove()}) 
#  but is a method to check which columns you want and remove them checking the name of the div.

In [ ]:
# clearing workspace
rm(list = ls())

In [ ]:
# loading packages
# to install magick

install.packages("pacman")
library(pacman)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:

p_load('tidyverse', "magrittr", "readxl", "rstatix", "googledrive")

In [ ]:
# loading work space and displaying variables in the workspace

#load("HSV_df.RData")
# ls()
# creating backup and displaying first 6 rows

drive_deauth()
drive_user()
public_file = drive_get(as_id("1i5Z2FeC_oPyOmDfA0p6eXR1iHgOdgGYqEhLd7WrQ5SQ"))
downloaded_file = drive_download(public_file, overwrite = TRUE)

HSV_df = read_excel("data_pHPV.all_rev3.xlsx")

HSV_df_back_up = HSV_df
#head(HSV_df)

ℹ Not logged in as any specific Google user.

File downloaded:

• data_pHPV.all_rev3 <id: 1i5Z2FeC_oPyOmDfA0p6eXR1iHgOdgGYqEhLd7WrQ5SQ>

Saved locally as:

• data_pHPV.all_rev3.xlsx

Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1763 / R1763C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1765 / R1765C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1772 / R1772C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1773 / R1773C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1778 / R1778C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1795 / R1795C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1800 / R1800C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1807 / R1807C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1843 / R1843C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1863 / R1863C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1865 / R1865C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1883 / R1883C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1891 / R1891C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1893 / R1893C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1907 / R1907C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1937 / R1937C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1948 / R1948C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1961 / R1961C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL1966 / R1966C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2027 / R2027C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2029 / R2029C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2043 / R2043C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2069 / R2069C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2073 / R2073C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2076 / R2076C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2099 / R2099C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2111 / R2111C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2134 / R2134C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2140 / R2140C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2163 / R2163C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2189 / R2189C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2200 / R2200C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2224 / R2224C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2227 / R2227C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2253 / R2253C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2267 / R2267C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2281 / R2281C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2290 / R2290C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2295 / R2295C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2297 / R2297C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2309 / R2309C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2317 / R2317C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2320 / R2320C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2344 / R2344C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2349 / R2349C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2402 / R2402C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2407 / R2407C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2415 / R2415C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2425 / R2425C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2466 / R2466C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2487 / R2487C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2521 / R2521C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2527 / R2527C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2531 / R2531C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2585 / R2585C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2617 / R2617C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2633 / R2633C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2638 / R2638C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2639 / R2639C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2660 / R2660C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2664 / R2664C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2670 / R2670C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2701 / R2701C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2705 / R2705C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2712 / R2712C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2718 / R2718C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2724 / R2724C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2745 / R2745C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2747 / R2747C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2759 / R2759C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2769 / R2769C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2774 / R2774C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2780 / R2780C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2783 / R2783C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2792 / R2792C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2821 / R2821C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2862 / R2862C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2886 / R2886C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2901 / R2901C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2963 / R2963C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2964 / R2964C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2976 / R2976C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL2997 / R2997C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3042 / R3042C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3081 / R3081C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3083 / R3083C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3087 / R3087C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3098 / R3098C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3104 / R3104C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3105 / R3105C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3138 / R3138C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3156 / R3156C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3162 / R3162C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3176 / R3176C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3217 / R3217C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3252 / R3252C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3291 / R3291C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3320 / R3320C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3323 / R3323C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3340 / R3340C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3346 / R3346C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3408 / R3408C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3410 / R3410C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3415 / R3415C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3450 / R3450C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3472 / R3472C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3488 / R3488C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3495 / R3495C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3532 / R3532C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3540 / R3540C64: got 'NA'”
Warning message in read_fun(path = enc2native(normalizePath(path)), sheet_i = sheet, :
“Expecting numeric in BL3563 / R3563C64: got 'NA'”

In [ ]:
HSV_df <- as.data.frame(sapply(HSV_df, unlist))
HSV_df %<>% 
   mutate(across(where(is.character), ~na_if(., "NA")))
# head(HSV_df,3)

In [ ]:
HSV_df$RIDAGEYRCAT = cut(as.numeric(HSV_df$RIDAGEYR), breaks = c(18, 25, 45, 65, Inf), right = FALSE)

In [ ]:
# Gender
HSV_df$RIAGENDR = factor(HSV_df$RIAGENDR)
levels(HSV_df$RIAGENDR) = c("Male", "Female") 

# High HPV
HSV_df$high.HPV = factor(HSV_df$high.HPV)
levels(HSV_df$high.HPV) = c("Negative", "Positive") 

# Low HPV
HSV_df$low.HPV = factor(HSV_df$low.HPV)
levels(HSV_df$low.HPV) = c("Negative", "Positive") 

# Race
HSV_df$RIDRETH1 = factor(HSV_df$RIDRETH1)
levels(HSV_df$RIDRETH1) = c("Mex-Hisp", "Other-Hisp","Non-Hisp-WT","Non-Hisp-BK", "Others") 

# Education
HSV_df$DMDEDUC2 = factor(HSV_df$DMDEDUC2)
levels(HSV_df$DMDEDUC2) = c("Below 9th Grade", "9-11 Grade","HS or GED","Some College or AA", "Graduate") 

# Marital Status
HSV_df$DMDMARTL = factor(HSV_df$DMDMARTL)
levels(HSV_df$DMDMARTL) = c("Married", "Widowed","Divorced","Separated", "Never married", "Living with partner") 

# Smoking
HSV_df$LBDCOTLC = factor(HSV_df$LBDCOTLC)
levels(HSV_df$LBDCOTLC) = c("Above limit", "Below Limit") 

# Alcohol
HSV_df$ALQ101 = factor(HSV_df$ALQ101)
levels(HSV_df$ALQ101) = c("Yes", "No") 

# Poverty Income Level
HSV_df$PIR = factor(HSV_df$PIR)
# levels(HSV_df$PIR) = c("Yes", "No") 

# Body mass index
HSV_df$BMI.f = factor(HSV_df$BMI.f)
levels(HSV_df$BMI.f) = c("Underweight", "Normal weight" , "Overweight" , "Obesity") 


# Arsenic Level(1)
HSV_df$URDUA3LC.f = factor(HSV_df$URDUA3LC.f)
levels(HSV_df$URDUA3LC.f) = c("Above limit", "Below Limit") 

# Arsenic Level (2)
HSV_df$URDUA5LC.f = factor(HSV_df$URDUA5LC.f)
levels(HSV_df$URDUA5LC.f) = c("Above limit", "Below Limit") 

# Arsenic Level (3)
HSV_df$URDUABLC.f = factor(HSV_df$URDUABLC.f)
levels(HSV_df$URDUABLC.f) = c("Above limit", "Below Limit") 


# Arsenic Level (4)
HSV_df$URDUDALC.f = factor(HSV_df$URDUACLC.f)  
levels(HSV_df$URDUDALC.f) = c("Above limit", "Below Limit") 

# Arsenic Level (5)
HSV_df$URDUDALC.f = factor(HSV_df$URDUDALC.f)
levels(HSV_df$URDUDALC.f) = c("Above limit", "Below Limit") 

# Arsenic Level (6)
HSV_df$URDUMMAL.f = factor(HSV_df$URDUMMAL.f)
levels(HSV_df$URDUMMAL.f) = c("Above limit", "Below Limit") 


HSV_df_backup_postprep = HSV_df

In [ ]:

# freq function

freq = function(var, name = deparse(substitute(var))){
tbl = table( var)
freq_tbl = tbl %>% as.data.frame()
prop_tbl = as.data.frame(prop.table(tbl) * 100) %>% as.data.frame() %>% select(Freq) %>% rename( "% Freq" = Freq)
total = data.frame(var = "Total", Freq = sum(freq_tbl$Freq), "% Freq" = sum(prop_tbl$`% Freq`))
df = cbind(freq_tbl, prop_tbl)
colnames(total) = colnames(df)
df = rbind(df,total)
xname = c(name, colnames(df)[2:length(colnames(df))])
colnames(df) = xname
  return(df)
}

# ctable function

ctable_fn = function( x, y  ){

tbl = table( x, y) %>% as.data.frame.matrix()

prop_tbl = prop.table(tbl) 

tbl %<>% cbind(.,Total = rowSums(.)) %>% rbind(.,Total = colSums(.))

prop_tbl %<>% cbind(.,Total = rowSums(.)) %>% rbind(.,Total = colSums(.))

prop_tbl =  (prop_tbl * 100) %>% round(2)

break_point = dim(tbl)[2]
for(i in 1: dim(tbl)[2]){
  tbl[,i] = paste0(tbl[,i], " [ " , prop_tbl[,i],  "% ]" )
}


return(tbl)

}

In [ ]:

num_summary = function(value,variable){

df = data.frame(value = as.numeric(value),variable = as.factor(variable))
  ## provide summary of the numerical variables
res = df %>% 

  group_by(variable) %>%
  summarise(Count = n(), Mean = mean(value, na.rm=TRUE), Min = quantile(value, 0, na.rm=TRUE), Q1 = quantile(value, 0.25, na.rm=TRUE), 
  Q2 = quantile(value, 0.5, na.rm=TRUE),  Q3 = quantile(value, 0.75, na.rm=TRUE), Max = quantile(value, 1, na.rm=TRUE),
   Sd = sd(value, na.rm=TRUE), .groups = 'drop') 

return(res)
}

# **Non Parametric Anova**

### **Arsenic 1(URXUAS3 - Urinary Arsenous acid (ug/L)) :**

At alpha level of 0.05, for Urinary Arsenous acid (ug/L), there is statistical significance for **BMI,  marital status, ethnicity, alcohol and cotinine**.

There is no statistical significance for education and poverty index ratio

**BMI**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS3, BMI.f) %>% filter(URXUAS3 != 'NA') %>% filter(BMI.f != 'NA')

# kruskal wallis test
kruskal.test(URXUAS3~ BMI.f , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS3, BMI.f) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS3~ BMI.f , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS3 by BMI.f
Kruskal-Wallis chi-squared = 8.0552, df = 3, p-value = 0.04488

 Numerical Summaries

  variable      Count Mean      Min  Q1     Q2   Q3     Max  Sd
1 Underweight    24   0.6741667 0.08 0.0800 0.39 0.6475 5.97 1.1978964
2 Normal weight 500   0.6099400 0.08 0.1375 0.54 0.8925 3.59 0.4999826
3 Overweight    570   0.6030526 0.08 0.1600 0.54 0.8400 3.35 0.5024931
4 Obesity       525   0.5261143 0.08 0.0800 0.46 0.7700 2.33 0.4223437

 Multiple Comparison

  .y.     group1        group2        n1  n2  statistic  p     p.adj
1 URXUAS3 Underweight   Normal weight  24 500  1.3479656 0.178 0.31
2 URXUAS3 Underweight   Overweight     24 570  1.2633358 0.206 0.31
3 URXUAS3 Underweight   Obesity        24 525  0.6389817 0.523 0.627
4 URXUAS3 Normal weight Overweight    500 570 -0.3007558 0.764 0.764
5 URXUAS3 Normal weight Obesity       500 525 -2.3732364 0.018 0.095
6 URXUAS3 Overweight    Obesity       570 525 -2.1469480 0.032 0.095
  p.adj.signif
1 ns
2 ns
3 ns
4 ns
5 ns
6 ns

**Education**

In [ ]:

# Education
kruskal.test(URXUAS3~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS3 by DMDEDUC2
Kruskal-Wallis chi-squared = 7.1533, df = 4, p-value = 0.128

**Marital Status**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS3, DMDMARTL) %>% filter(URXUAS3 != 'NA') %>% filter(DMDMARTL != 'NA')

# kruskal wallis test
kruskal.test(URXUAS3~ DMDMARTL , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS3, DMDMARTL) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS3~ DMDMARTL , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS3 by DMDMARTL
Kruskal-Wallis chi-squared = 0.55208, df = 5, p-value = 0.9901

 Numerical Summaries

  variable            Count Mean      Min  Q1     Q2   Q3     Max  Sd
1 Married             715   0.5915944 0.08 0.0800 0.52 0.8550 5.97 0.5354121
2 Widowed              11   0.4718182 0.08 0.0800 0.34 0.7500 1.22 0.3977642
3 Divorced            126   0.5424603 0.08 0.1625 0.54 0.7575 1.66 0.3813401
4 Separated            51   0.5537255 0.08 0.0800 0.56 0.8200 1.91 0.4022286
5 Never married       404   0.5652475 0.08 0.1700 0.49 0.8000 3.59 0.4746337
6 Living with partner 221   0.5604072 0.08 0.0800 0.54 0.7800 2.33 0.4421428

 Multiple Comparison

   .y.     group1        group2              n1  n2  statistic   p    p.adj
1  URXUAS3 Married       Widowed             715  11 -0.63319431 0.53 0.99
2  URXUAS3 Married       Divorced            715 126 -0.18183799 0.86 0.99
3  URXUAS3 Married       Separated           715  51 -0.01479610 0.99 0.99
4  URXUAS3 Married       Never married       715 404 -0.39487676 0.69 0.99
5  URXUAS3 Married       Living with partner 715 221 -0.27571730 0.78 0.99
6  URXUAS3 Widowed       Divorced             11 126  0.55601434 0.58 0.99
7  URXUAS3 Widowed       Separated            11  51  0.57223335 0.57 0.99
8  URXUAS3 Widowed       Never married        11 404  0.54910772 0.58 0.99
9  URXUAS3 Widowed       Living with partner  11 221  0.55404544 0.58 0.99
10 URXUAS3 Divorced      Separated           126  51  0.09293774 0.93 0.99
11 URXUAS3 Divorced      Never married       126 404 -0.06868361 0.95 0.99
12 URXUAS3 Divorced      Living with partner 126 221 -0.03271031 0.97 0.99
13 URXUAS3 Separated     Never married        51 404 -0.15095672 0.88 0.99
14 URXUAS3 Separated     Living with partner  51 221 -0.12279516 0.9  0.99
15 URXUAS3 Never married Living with partner 404 221  0.04012185 0.97 0.99
   p.adj.signif
1  ns
2  ns
3  ns
4  ns
5  ns
6  ns
7  ns
8  ns
9  ns
10 ns
11 ns
12 ns
13 ns
14 ns
15 ns

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS3, RIDRETH1) %>% filter(URXUAS3 != 'NA') %>% filter(RIDRETH1 != 'NA')

# kruskal wallis test
kruskal.test(URXUAS3~ RIDRETH1 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS3, RIDRETH1) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS3~ RIDRETH1 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS3 by RIDRETH1
Kruskal-Wallis chi-squared = 46.204, df = 4, p-value = 2.233e-09

 Numerical Summaries

  variable    Count Mean      Min  Q1   Q2    Q3     Max  Sd
1 Mex-Hisp    222   0.6613514 0.08 0.25 0.595 0.9425 3.35 0.5043781
2 Other-Hisp  148   0.7008784 0.08 0.33 0.630 1.0000 2.64 0.4985925
3 Non-Hisp-WT 625   0.4728160 0.08 0.08 0.430 0.6900 2.81 0.3787666
4 Non-Hisp-BK 364   0.5985165 0.08 0.17 0.510 0.8900 3.59 0.4906599
5 Others      266   0.6772180 0.08 0.18 0.540 0.9350 5.97 0.6590094

 Multiple Comparison

   .y.     group1      group2      n1  n2  statistic  p       p.adj
1  URXUAS3 Mex-Hisp    Other-Hisp  222 148  0.7711669 0.44061 0.46828
2  URXUAS3 Mex-Hisp    Non-Hisp-WT 222 625 -4.9488292 <0.0001 <0.0001
3  URXUAS3 Mex-Hisp    Non-Hisp-BK 222 364 -1.7732136 0.07619 0.12699
4  URXUAS3 Mex-Hisp    Others      222 266 -1.0175157 0.30891 0.38614
5  URXUAS3 Other-Hisp  Non-Hisp-WT 148 625 -5.1248986 <0.0001 <0.0001
6  URXUAS3 Other-Hisp  Non-Hisp-BK 148 364 -2.3883587 0.01692 0.03385
7  URXUAS3 Other-Hisp  Others      148 266 -1.7000166 0.08913 0.12733
8  URXUAS3 Non-Hisp-WT Non-Hisp-BK 625 364  3.5741450 0.00035 0.00088
9  URXUAS3 Non-Hisp-WT Others      625 266  4.0181490 <0.0001 0.0002
10 URXUAS3 Non-Hisp-BK Others      364 266  0.7252781 0.46828 0.46828
   p.adj.signif
1  ns
2  ****
3  ns
4  ns
5  ****
6  *
7  ns
8  ***
9  ***
10 ns

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(URXUAS3~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS3 by PIR
Kruskal-Wallis chi-squared = 2.0197, df = 2, p-value = 0.3643

**Alcohol**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS3, ALQ101) %>% filter(URXUAS3 != 'NA') %>% filter(ALQ101 != 'NA')

# kruskal wallis test
kruskal.test(URXUAS3~ ALQ101 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS3, ALQ101) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS3~ ALQ101 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS3 by ALQ101
Kruskal-Wallis chi-squared = 0.087041, df = 1, p-value = 0.768

 Numerical Summaries

  variable Count Mean      Min  Q1   Q2   Q3   Max  Sd
1 Yes      1272  0.5699607 0.08 0.13 0.52 0.82 3.59 0.4642852
2 No        232  0.6125000 0.08 0.08 0.47 0.85 5.97 0.6391246

 Multiple Comparison

  .y.     group1 group2 n1   n2  statistic  p    p.adj p.adj.signif
1 URXUAS3 Yes    No     1272 232 -0.2950267 0.77 0.77  ns

**Cotinine**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS3, LBDCOTLC) %>% filter(URXUAS3 != 'NA') %>% filter(LBDCOTLC != 'NA')

# kruskal wallis test
kruskal.test(URXUAS3~ LBDCOTLC , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS3, LBDCOTLC) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS3~ LBDCOTLC , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS3 by LBDCOTLC
Kruskal-Wallis chi-squared = 3.5924, df = 1, p-value = 0.05804

 Numerical Summaries

  variable    Count Mean      Min  Q1   Q2   Q3   Max  Sd
1 Above limit 1301  0.5846272 0.08 0.15 0.53 0.84 5.97 0.4907386
2 Below Limit  246  0.5354878 0.08 0.08 0.47 0.79 2.99 0.4863370

 Multiple Comparison

  .y.     group1      group2      n1   n2  statistic p     p.adj p.adj.signif
1 URXUAS3 Above limit Below Limit 1301 246 -1.895363 0.058 0.058 ns

### **Arsenic 2(URXUAS5 Urinary Arsenic acid (ug/L))**

At alpha level of 0.05, for Urinary Arsenic acid (ug/L), there is statistical significance for **education**.

There is no statistical significance for  marital status, ethnicity, alcohol and cotinine and poverty index ratio.

**BMI**

In [ ]:
# BMI Categorical
kruskal.test(URXUAS5~ BMI.f , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by BMI.f
Kruskal-Wallis chi-squared = 3.4294, df = 3, p-value = 0.33

**Education**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAS5, DMDEDUC2) %>% filter(URXUAS5 != 'NA') %>% filter(DMDEDUC2 != 'NA')

# kruskal wallis test
kruskal.test(URXUAS5~ DMDEDUC2 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAS5, DMDEDUC2) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAS5~ DMDEDUC2 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAS5 by DMDEDUC2
Kruskal-Wallis chi-squared = 14.328, df = 4, p-value = 0.006318

 Numerical Summaries

  variable           Count Mean      Min  Q1   Q2   Q3   Max  Sd
1 Below 9th Grade    115   0.5746087 0.56 0.56 0.56 0.56 1.36 0.09535057
2 9-11 Grade         250   0.5790800 0.56 0.56 0.56 0.56 1.90 0.11636200
3 HS or GED          397   0.5868262 0.56 0.56 0.56 0.56 1.56 0.12471787
4 Some College or AA 448   0.5683705 0.56 0.56 0.56 0.56 1.88 0.08137123
5 Graduate           319   0.5956426 0.56 0.56 0.56 0.56 8.02 0.44193771

 Multiple Comparison

   .y.     group1             group2             n1  n2  statistic  p
1  URXUAS5 Below 9th Grade    9-11 Grade         115 250  0.5157253 0.60605
2  URXUAS5 Below 9th Grade    HS or GED          115 397  1.5028832 0.13287
3  URXUAS5 Below 9th Grade    Some College or AA 115 448 -0.7270866 0.46717
4  URXUAS5 Below 9th Grade    Graduate           115 319 -0.5675717 0.57033
5  URXUAS5 9-11 Grade         HS or GED          250 397  1.2514805 0.21076
6  URXUAS5 9-11 Grade         Some College or AA 250 448 -1.6988784 0.08934
7  URXUAS5 9-11 Grade         Graduate           250 319 -1.4188011 0.15596
8  URXUAS5 HS or GED          Some College or AA 397 448 -3.4116917 0.00065
9  URXUAS5 HS or GED          Graduate           397 319 -2.9376783 0.00331
10 URXUAS5 Some College or AA Graduate           448 319  0.1948314 0.84552
   p.adj  p.adj.signif
1  0.6734 ns
2  0.3119 ns
3  0.6674 ns
4  0.6734 ns
5  0.3513 ns
6  0.2978 ns
7  0.3119 ns
8  0.0065 **
9  0.0165 *
10 0.8455 ns

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(URXUAS5~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by DMDMARTL
Kruskal-Wallis chi-squared = 4.4223, df = 5, p-value = 0.4904

**Race**

In [ ]:

# Race
kruskal.test(URXUAS5~ RIDRETH1 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by RIDRETH1
Kruskal-Wallis chi-squared = 4.3248, df = 4, p-value = 0.3638

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(URXUAS5~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by PIR
Kruskal-Wallis chi-squared = 0.043624, df = 2, p-value = 0.9784

**Alcohol**

In [ ]:

# Alcohol
kruskal.test(URXUAS5~ ALQ101 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by ALQ101
Kruskal-Wallis chi-squared = 3.2222, df = 1, p-value = 0.07265

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(URXUAS5~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAS5 by LBDCOTLC
Kruskal-Wallis chi-squared = 0.23953, df = 1, p-value = 0.6245

###  **Arsenic 3 (URXUAB: Urinary Arsenobetaine (ug/L))**

At alpha level of 0.05, for Urinary Arsenobetaine (ug/L), there is statistical significance for **education, marital status, race, poverty index ratio, alcohol.**

There is no statistical significance for BMI and cotinine.

**BMI**

In [ ]:
# BMI Categorical
kruskal.test(URXUAB~ BMI.f , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAB by BMI.f
Kruskal-Wallis chi-squared = 3.5819, df = 3, p-value = 0.3103

**Education**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAB, DMDEDUC2) %>% filter(URXUAB != 'NA') %>% filter(DMDEDUC2 != 'NA')

# kruskal wallis test
kruskal.test(URXUAB~ DMDEDUC2 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAB, DMDEDUC2) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAB~ DMDEDUC2 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAB by DMDEDUC2
Kruskal-Wallis chi-squared = 9.2923, df = 4, p-value = 0.05419

 Numerical Summaries

  variable           Count Mean     Min  Q1   Q2   Q3     Max    Sd
1 Below 9th Grade    115   8.336435 0.82 0.82 0.82 4.3100 146.86 23.00711
2 9-11 Grade         250   5.760680 0.82 0.82 0.82 3.8725 194.64 18.64989
3 HS or GED          397   7.225214 0.82 0.82 0.82 4.2700 294.16 21.16326
4 Some College or AA 448   8.644018 0.82 0.82 0.82 3.8625 749.00 39.98897
5 Graduate           319   9.048370 0.82 0.82 1.53 6.8750 233.40 25.46837

 Multiple Comparison

   .y.    group1             group2             n1  n2  statistic   p
1  URXUAB Below 9th Grade    9-11 Grade         115 250 -0.70185008 0.4828
2  URXUAB Below 9th Grade    HS or GED          115 397 -0.19025233 0.8491
3  URXUAB Below 9th Grade    Some College or AA 115 448 -0.06941792 0.9447
4  URXUAB Below 9th Grade    Graduate           115 319  1.43532037 0.1512
5  URXUAB 9-11 Grade         HS or GED          250 397  0.72991971 0.4654
6  URXUAB 9-11 Grade         Some College or AA 250 448  0.90981379 0.3629
7  URXUAB 9-11 Grade         Graduate           250 319  2.78446808 0.0054
8  URXUAB HS or GED          Some College or AA 397 448  0.18701908 0.8516
9  URXUAB HS or GED          Graduate           397 319  2.34421928 0.0191
10 URXUAB Some College or AA Graduate           448 319  2.23006766 0.0257
   p.adj p.adj.signif
1  0.69  ns
2  0.945 ns
3  0.945 ns
4  0.378 ns
5  0.69  ns
6  0.69  ns
7  0.054 ns
8  0.945 ns
9  0.086 ns
10 0.086 ns

**Marital Status**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAB, DMDMARTL) %>% filter(URXUAB != 'NA') %>% filter(DMDMARTL != 'NA')

# kruskal wallis test
kruskal.test(URXUAB~ DMDMARTL , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAB, DMDMARTL) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAB~ DMDMARTL , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAB by DMDMARTL
Kruskal-Wallis chi-squared = 7.6311, df = 5, p-value = 0.1778

 Numerical Summaries

  variable            Count Mean     Min  Q1   Q2   Q3     Max    Sd
1 Married             715   9.227077 0.82 0.82 1.27 5.6650 294.16 26.390085
2 Widowed              11   5.056364 0.82 0.82 1.36 3.7350  20.48  7.585922
3 Divorced            126   6.841825 0.82 0.82 0.82 2.8075 223.42 22.955184
4 Separated            51   4.195882 0.82 0.82 1.22 4.6300  20.95  5.483901
5 Never married       404   7.268342 0.82 0.82 0.82 3.6650 749.00 39.662034
6 Living with partner 221   6.136063 0.82 0.82 0.82 3.9600 126.19 14.333594

 Multiple Comparison

   .y.    group1        group2              n1  n2  statistic   p     p.adj
1  URXUAB Married       Widowed             715  11 -0.08964943 0.929 0.93
2  URXUAB Married       Divorced            715 126 -2.27106314 0.023 0.35
3  URXUAB Married       Separated           715  51 -0.49153007 0.623 0.93
4  URXUAB Married       Never married       715 404 -1.91746590 0.055 0.41
5  URXUAB Married       Living with partner 715 221 -1.40203670 0.161 0.8
6  URXUAB Widowed       Divorced             11 126 -0.61129350 0.541 0.93
7  URXUAB Widowed       Separated            11  51 -0.13236323 0.895 0.93
8  URXUAB Widowed       Never married        11 404 -0.30140566 0.763 0.93
9  URXUAB Widowed       Living with partner  11 221 -0.26112962 0.794 0.93
10 URXUAB Divorced      Separated           126  51  0.89287559 0.372 0.93
11 URXUAB Divorced      Never married       126 404  0.98083898 0.327 0.93
12 URXUAB Divorced      Living with partner 126 221  0.99900713 0.318 0.93
13 URXUAB Separated     Never married        51 404 -0.32370072 0.746 0.93
14 URXUAB Separated     Living with partner  51 221 -0.23602775 0.813 0.93
15 URXUAB Never married Living with partner 404 221  0.13669609 0.891 0.93
   p.adj.signif
1  ns
2  ns
3  ns
4  ns
5  ns
6  ns
7  ns
8  ns
9  ns
10 ns
11 ns
12 ns
13 ns
14 ns
15 ns

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAB, RIDRETH1) %>% filter(URXUAB != 'NA') %>% filter(RIDRETH1 != 'NA')

# kruskal wallis test
kruskal.test(URXUAB~ RIDRETH1 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAB, RIDRETH1) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAB~ RIDRETH1 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAB by RIDRETH1
Kruskal-Wallis chi-squared = 60.318, df = 4, p-value = 2.487e-12

 Numerical Summaries

  variable    Count Mean      Min  Q1   Q2   Q3    Max    Sd
1 Mex-Hisp    222    5.566802 0.82 0.82 0.82 2.210 214.00 20.27429
2 Other-Hisp  148   10.261014 0.82 0.82 1.63 5.880 294.16 31.19602
3 Non-Hisp-WT 625    5.239296 0.82 0.82 0.82 2.950 233.40 18.09644
4 Non-Hisp-BK 364   10.398407 0.82 0.82 1.52 6.260 749.00 44.08863
5 Others      266   11.443534 0.82 0.82 2.29 9.665 189.72 24.33829

 Multiple Comparison

   .y.    group1      group2      n1  n2  statistic  p       p.adj
1  URXUAB Mex-Hisp    Other-Hisp  222 148  3.6547207 0.00026 0.00043
2  URXUAB Mex-Hisp    Non-Hisp-WT 222 625  0.5747458 0.56546 0.62829
3  URXUAB Mex-Hisp    Non-Hisp-BK 222 364  4.2261898 <0.0001 <0.0001
4  URXUAB Mex-Hisp    Others      222 266  5.3750984 <0.0001 <0.0001
5  URXUAB Other-Hisp  Non-Hisp-WT 148 625 -3.7513413 0.00018 0.00035
6  URXUAB Other-Hisp  Non-Hisp-BK 148 364 -0.2866485 0.77438 0.77438
7  URXUAB Other-Hisp  Others      148 266  0.9828843 0.32566 0.40708
8  URXUAB Non-Hisp-WT Non-Hisp-BK 625 364  4.7772997 <0.0001 <0.0001
9  URXUAB Non-Hisp-WT Others      625 266  6.0611359 <0.0001 <0.0001
10 URXUAB Non-Hisp-BK Others      364 266  1.5959828 0.11049 0.15785
   p.adj.signif
1  ***
2  ns
3  ****
4  ****
5  ***
6  ns
7  ns
8  ****
9  ****
10 ns

**Poverty Income Ratio**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAB, PIR) %>% filter(URXUAB != 'NA') %>% filter(PIR != 'NA')

# kruskal wallis test
kruskal.test(URXUAB~ PIR , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAB, PIR) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAB~ PIR , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAB by PIR
Kruskal-Wallis chi-squared = 9.6992, df = 2, p-value = 0.007832

 Numerical Summaries

  variable Count Mean     Min  Q1   Q2    Q3    Max    Sd
1 1.0      538   5.020483 0.82 0.82 0.820 3.310 126.29 12.01406
2 2.0      541   8.659945 0.82 0.82 0.820 4.790 749.00 37.90105
3 3.0      408   8.895711 0.82 0.82 1.295 5.765 233.40 24.85190

 Multiple Comparison

  .y.    group1 group2 n1  n2  statistic p      p.adj p.adj.signif
1 URXUAB 1.0    2.0    538 541 2.3719630 0.0177 0.027 *
2 URXUAB 1.0    3.0    538 408 2.8896884 0.0039 0.012 *
3 URXUAB 2.0    3.0    541 408 0.6906068 0.4898 0.49  ns

**Alcohol**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAB, ALQ101) %>% filter(URXUAB != 'NA') %>% filter(ALQ101 != 'NA')

# kruskal wallis test
kruskal.test(URXUAB~ ALQ101 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAB, ALQ101) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAB~ ALQ101 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAB by ALQ101
Kruskal-Wallis chi-squared = 3.146, df = 1, p-value = 0.07611

 Numerical Summaries

  variable Count Mean     Min  Q1   Q2   Q3     Max    Sd
1 Yes      1272  7.569764 0.82 0.82 0.82 4.4325 749.00 29.37366
2 No        232  8.596810 0.82 0.82 0.82 3.2475 194.64 26.02749

 Multiple Comparison

  .y.    group1 group2 n1   n2  statistic p     p.adj p.adj.signif
1 URXUAB Yes    No     1272 232 -1.773693 0.076 0.076 ns

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(URXUAB~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAB by LBDCOTLC
Kruskal-Wallis chi-squared = 0.75461, df = 1, p-value = 0.385

###  **Arsenic 4(URXUAC - Urinary Arsenocholine (ug/L))** 

At alpha level of 0.05, for Urinary Arsenocholine (ug/L), there is statistical significance for  **race and poverty index ratio**.

There is no statistical significance for education, marital status, BMI and cotinine, alcohol.

**BMI**

In [ ]:
# BMI Categorical
kruskal.test(URXUAC~ BMI.f , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAC by BMI.f
Kruskal-Wallis chi-squared = 6.4222, df = 3, p-value = 0.09278

**Education**

In [ ]:

# Education
kruskal.test(URXUAC~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAC by DMDEDUC2
Kruskal-Wallis chi-squared = 2.7374, df = 4, p-value = 0.6027

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(URXUAC~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAC by DMDMARTL
Kruskal-Wallis chi-squared = 2.8889, df = 5, p-value = 0.7171

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAC, RIDRETH1) %>% filter(URXUAC != 'NA') %>% filter(RIDRETH1 != 'NA')

# kruskal wallis test
kruskal.test(URXUAC~ RIDRETH1 , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAC, RIDRETH1) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAC~ RIDRETH1 , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAC by RIDRETH1
Kruskal-Wallis chi-squared = 33.499, df = 4, p-value = 9.44e-07

 Numerical Summaries

  variable    Count Mean      Min  Q1   Q2   Q3   Max   Sd
1 Mex-Hisp    222   0.1395495 0.08 0.08 0.08 0.08  1.67 0.1669686
2 Other-Hisp  148   0.1358108 0.08 0.08 0.08 0.08  1.50 0.1736210
3 Non-Hisp-WT 625   0.1144320 0.08 0.08 0.08 0.08  2.81 0.1571492
4 Non-Hisp-BK 364   0.1613736 0.08 0.08 0.08 0.08  1.36 0.1996754
5 Others      266   0.2333083 0.08 0.08 0.08 0.08 14.30 0.9540039

 Multiple Comparison

   .y.    group1      group2      n1  n2  statistic   p       p.adj
1  URXUAC Mex-Hisp    Other-Hisp  222 148 -0.06685311 0.9467  0.9467
2  URXUAC Mex-Hisp    Non-Hisp-WT 222 625 -2.88633375 0.0039  0.01299
3  URXUAC Mex-Hisp    Non-Hisp-BK 222 364  1.23289679 0.2176  0.4171
4  URXUAC Mex-Hisp    Others      222 266  0.90826204 0.3637  0.47742
5  URXUAC Other-Hisp  Non-Hisp-WT 148 625 -2.38930139 0.0169  0.0422
6  URXUAC Other-Hisp  Non-Hisp-BK 148 364  1.14972002 0.2503  0.4171
7  URXUAC Other-Hisp  Others      148 266  0.87432814 0.3819  0.47742
8  URXUAC Non-Hisp-WT Non-Hisp-BK 625 364  5.01265957 <0.0001 <0.0001
9  URXUAC Non-Hisp-WT Others      625 266  4.20828239 <0.0001 0.00013
10 URXUAC Non-Hisp-BK Others      364 266 -0.27798859 0.781   0.8678
   p.adj.signif
1  ns
2  *
3  ns
4  ns
5  *
6  ns
7  ns
8  ****
9  ***
10 ns

**Poverty Income Ratio**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUAC, PIR) %>% filter(URXUAC != 'NA') %>% filter(PIR != 'NA')

# kruskal wallis test
kruskal.test(URXUAC~ PIR , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUAC, PIR) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUAC~ PIR , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUAC by PIR
Kruskal-Wallis chi-squared = 4.9397, df = 2, p-value = 0.0846

 Numerical Summaries

  variable Count Mean      Min  Q1   Q2   Q3   Max   Sd
1 1.0      538   0.1366729 0.08 0.08 0.08 0.08  1.80 0.1788779
2 2.0      541   0.1624030 0.08 0.08 0.08 0.08 14.30 0.6486734
3 3.0      408   0.1585784 0.08 0.08 0.08 0.08  4.99 0.3040358

 Multiple Comparison

  .y.    group1 group2 n1  n2  statistic  p     p.adj p.adj.signif
1 URXUAC 1.0    2.0    538 541 -0.4052945 0.685 0.69  ns
2 URXUAC 1.0    3.0    538 408  1.7461622 0.081 0.12  ns
3 URXUAC 2.0    3.0    541 408  2.1245999 0.034 0.1   ns

**Alcohol**

In [ ]:

# Alcohol
kruskal.test(URXUAC~ ALQ101 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAC by ALQ101
Kruskal-Wallis chi-squared = 0.19511, df = 1, p-value = 0.6587

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(URXUAC~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUAC by LBDCOTLC
Kruskal-Wallis chi-squared = 0.012716, df = 1, p-value = 0.9102

###  **Arsenic 5(URXUDMA : Urinary Dimethylarsinic acid (ug/L))** 

At alpha level of 0.05, for Urinary Dimethylarsinic acid (ug/L), there is statistical significance for  **BMI and race**

There is no statistical significance for education, marital status, cotinine, alcohol, and poverty index ratio.

**BMI**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUDMA, BMI.f ) %>% filter(URXUDMA != 'NA') %>% filter(BMI.f  != 'NA')

# kruskal wallis test
kruskal.test(URXUDMA~ BMI.f  , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUDMA, BMI.f ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUDMA~ BMI.f  , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUDMA by BMI.f
Kruskal-Wallis chi-squared = 14.701, df = 3, p-value = 0.002091

 Numerical Summaries

  variable      Count Mean     Min  Q1     Q2    Q3     Max    Sd
1 Underweight    24   7.218750 1.35 1.3500 2.435 6.6225  65.80 13.301220
2 Normal weight 500   5.112400 1.35 1.3500 3.570 5.9700  40.59  5.349859
3 Overweight    570   5.588333 1.35 2.0475 3.585 6.3550  52.46  6.584463
4 Obesity       525   5.205010 1.35 2.2900 3.780 6.0900 127.20  7.071519

 Multiple Comparison

  .y.     group1        group2        n1  n2  statistic p      p.adj
1 URXUDMA Underweight   Normal weight  24 500 1.649552  0.099  0.1188
2 URXUDMA Underweight   Overweight     24 570 2.063706  0.039  0.0781
3 URXUDMA Underweight   Obesity        24 525 2.599132  0.0093 0.028
4 URXUDMA Normal weight Overweight    500 570 1.392612  0.1637 0.1637
5 URXUDMA Normal weight Obesity       500 525 3.165995  0.0015 0.0093
6 URXUDMA Overweight    Obesity       570 525 1.859907  0.0629 0.0943
  p.adj.signif
1 ns
2 ns
3 *
4 ns
5 **
6 ns

**Education**

In [ ]:

# Education
kruskal.test(URXUDMA~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUDMA by DMDEDUC2
Kruskal-Wallis chi-squared = 4.7973, df = 4, p-value = 0.3087

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(URXUDMA~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUDMA by DMDMARTL
Kruskal-Wallis chi-squared = 4.4963, df = 5, p-value = 0.4804

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUDMA, RIDRETH1  ) %>% filter(URXUDMA != 'NA') %>% filter(RIDRETH1   != 'NA')

# kruskal wallis test
kruskal.test(URXUDMA~ RIDRETH1   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUDMA, RIDRETH1  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUDMA~ RIDRETH1   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUDMA by RIDRETH1
Kruskal-Wallis chi-squared = 42.843, df = 4, p-value = 1.116e-08

 Numerical Summaries

  variable    Count Mean     Min  Q1     Q2    Q3      Max    Sd
1 Mex-Hisp    222   5.485135 1.35 2.1325 4.060  6.4350 127.20 9.384813
2 Other-Hisp  148   7.003581 1.35 3.0275 5.225  8.4525  44.10 6.916490
3 Non-Hisp-WT 625   3.772864 1.35 1.3500 2.740  4.7300  38.38 3.668398
4 Non-Hisp-BK 364   5.158516 1.35 2.2400 3.625  5.8850  47.97 5.394714
5 Others      266   8.174812 1.35 3.0600 5.365 10.6525  65.80 8.660860

 Multiple Comparison

   .y.     group1      group2      n1  n2  statistic   p       p.adj
1  URXUDMA Mex-Hisp    Other-Hisp  222 148  2.53143052 0.01136 0.0162
2  URXUDMA Mex-Hisp    Non-Hisp-WT 222 625 -3.42463730 0.00062 0.0018
3  URXUDMA Mex-Hisp    Non-Hisp-BK 222 364 -0.71814465 0.47267 0.5252
4  URXUDMA Mex-Hisp    Others      222 266 -0.03373483 0.97309 0.9731
5  URXUDMA Other-Hisp  Non-Hisp-WT 148 625 -5.86558897 <0.0001 <0.0001
6  URXUDMA Other-Hisp  Non-Hisp-BK 148 364 -3.38284304 0.00072 0.0018
7  URXUDMA Other-Hisp  Others      148 266 -2.64948111 0.00806 0.0134
8  URXUDMA Non-Hisp-WT Non-Hisp-BK 625 364  3.13066368 0.00174 0.0035
9  URXUDMA Non-Hisp-WT Others      625 266  3.61306248 0.0003  0.0015
10 URXUDMA Non-Hisp-BK Others      364 266  0.72013113 0.47144 0.5252
   p.adj.signif
1  *
2  **
3  ns
4  ns
5  ****
6  **
7  *
8  **
9  **
10 ns

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(URXUDMA~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUDMA by PIR
Kruskal-Wallis chi-squared = 3.4478, df = 2, p-value = 0.1784

**Alcohol**

In [ ]:

# Alcohol
kruskal.test(URXUDMA~ ALQ101 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUDMA by ALQ101
Kruskal-Wallis chi-squared = 0.0070208, df = 1, p-value = 0.9332

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(URXUDMA~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUDMA by LBDCOTLC
Kruskal-Wallis chi-squared = 1.2545, df = 1, p-value = 0.2627

###  **Arsenic 6(URXUMMA: Urinary Monomethylacrsonic acid (ug/L))**

At alpha level of 0.05, for Urinary Monomethylacrsonic acid (ug/L), there is statistical significance for **BMI, alcohol, cotinine and race.**

There is no statistical significance for education, marital status,  and poverty index ratio.

**BMI**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUMMA, BMI.f  ) %>% filter(URXUMMA != 'NA') %>% filter(BMI.f   != 'NA')

# kruskal wallis test
kruskal.test(URXUMMA~ BMI.f   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUMMA, BMI.f  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUMMA~ BMI.f   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUMMA by BMI.f
Kruskal-Wallis chi-squared = 16.739, df = 3, p-value = 0.0007999

 Numerical Summaries

  variable      Count Mean      Min  Q1     Q2    Q3     Max  Sd
1 Underweight    24   0.8200000 0.14 0.3325 0.555 1.0325 4.15 0.8744887
2 Normal weight 500   0.7341000 0.14 0.2500 0.580 1.0200 4.98 0.6138549
3 Overweight    570   0.7476491 0.14 0.2000 0.590 1.0200 6.11 0.7160221
4 Obesity       525   0.5998286 0.14 0.1400 0.490 0.8400 4.23 0.5150441

 Multiple Comparison

  .y.     group1        group2        n1  n2  statistic   p       p.adj
1 URXUMMA Underweight   Normal weight  24 500 -0.09643223 0.92318 0.9232
2 URXUMMA Underweight   Overweight     24 570 -0.15783405 0.87459 0.9232
3 URXUMMA Underweight   Obesity        24 525 -1.16496245 0.24403 0.4881
4 URXUMMA Normal weight Overweight    500 570 -0.20788892 0.83532 0.9232
5 URXUMMA Normal weight Obesity       500 525 -3.56900878 0.00036 0.0015
6 URXUMMA Overweight    Obesity       570 525 -3.47626836 0.00051 0.0015
  p.adj.signif
1 ns
2 ns
3 ns
4 ns
5 **
6 **

**Education**

In [ ]:

# Education
kruskal.test(URXUMMA~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUMMA by DMDEDUC2
Kruskal-Wallis chi-squared = 13.143, df = 4, p-value = 0.0106

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(URXUMMA~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUMMA by DMDMARTL
Kruskal-Wallis chi-squared = 3.0771, df = 5, p-value = 0.6881

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUMMA, RIDRETH1  ) %>% filter(URXUMMA != 'NA') %>% filter(RIDRETH1   != 'NA')

# kruskal wallis test
kruskal.test(URXUMMA~ RIDRETH1   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUMMA, RIDRETH1  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUMMA~ RIDRETH1   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUMMA by RIDRETH1
Kruskal-Wallis chi-squared = 51.353, df = 4, p-value = 1.884e-10

 Numerical Summaries

  variable    Count Mean      Min  Q1    Q2    Q3     Max  Sd
1 Mex-Hisp    222   0.7263514 0.14 0.155 0.590 0.9300 6.11 0.7295413
2 Other-Hisp  148   0.9424324 0.14 0.450 0.805 1.3725 5.38 0.7418781
3 Non-Hisp-WT 625   0.5992480 0.14 0.140 0.480 0.8400 5.39 0.5223672
4 Non-Hisp-BK 364   0.6263736 0.14 0.140 0.510 0.9100 3.29 0.5138372
5 Others      266   0.8564286 0.14 0.310 0.640 1.1775 4.98 0.7682264

 Multiple Comparison

   .y.     group1      group2      n1  n2  statistic  p       p.adj
1  URXUMMA Mex-Hisp    Other-Hisp  222 148  3.4638533 0.00053 0.00106
2  URXUMMA Mex-Hisp    Non-Hisp-WT 222 625 -2.3400435 0.01928 0.03214
3  URXUMMA Mex-Hisp    Non-Hisp-BK 222 364 -1.4609504 0.14403 0.16003
4  URXUMMA Mex-Hisp    Others      222 266  1.8045913 0.07114 0.08892
5  URXUMMA Other-Hisp  Non-Hisp-WT 148 625 -6.0210017 <0.0001 <0.0001
6  URXUMMA Other-Hisp  Non-Hisp-BK 148 364 -5.0466611 <0.0001 <0.0001
7  URXUMMA Other-Hisp  Others      148 266 -1.9847500 0.04717 0.06739
8  URXUMMA Non-Hisp-WT Non-Hisp-BK 625 364  0.8860445 0.37559 0.37559
9  URXUMMA Non-Hisp-WT Others      625 266  4.7382707 <0.0001 <0.0001
10 URXUMMA Non-Hisp-BK Others      364 266  3.5760609 0.00035 0.00087
   p.adj.signif
1  **
2  *
3  ns
4  ns
5  ****
6  ****
7  ns
8  ns
9  ****
10 ***

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(URXUMMA~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  URXUMMA by PIR
Kruskal-Wallis chi-squared = 1.052, df = 2, p-value = 0.591

**Alcohol**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUMMA, ALQ101  ) %>% filter(URXUMMA != 'NA') %>% filter(ALQ101   != 'NA')

# kruskal wallis test
kruskal.test(URXUMMA~ ALQ101   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUMMA, ALQ101  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUMMA~ ALQ101   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUMMA by ALQ101
Kruskal-Wallis chi-squared = 0.00071877, df = 1, p-value = 0.9786

 Numerical Summaries

  variable Count Mean     Min  Q1   Q2    Q3   Max  Sd
1 Yes      1272  0.678184 0.14 0.14 0.545 0.93 6.11 0.6126009
2 No        232  0.701250 0.14 0.14 0.555 0.92 4.15 0.6428210

 Multiple Comparison

  .y.     group1 group2 n1   n2  statistic  p    p.adj p.adj.signif
1 URXUMMA Yes    No     1272 232 0.02680997 0.98 0.98  ns

**Cotinine**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(URXUMMA, LBDCOTLC  ) %>% filter(URXUMMA != 'NA') %>% filter(LBDCOTLC   != 'NA')

# kruskal wallis test
kruskal.test(URXUMMA~ LBDCOTLC   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(URXUMMA, LBDCOTLC  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(URXUMMA~ LBDCOTLC   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  URXUMMA by LBDCOTLC
Kruskal-Wallis chi-squared = 0.67798, df = 1, p-value = 0.4103

 Numerical Summaries

  variable    Count Mean      Min  Q1   Q2   Q3     Max  Sd
1 Above limit 1301  0.6905304 0.14 0.14 0.56 0.9700 5.88 0.5993150
2 Below Limit  246  0.6759350 0.14 0.14 0.53 0.8775 5.38 0.6519939

 Multiple Comparison

  .y.     group1      group2      n1   n2  statistic  p    p.adj p.adj.signif
1 URXUMMA Above limit Below Limit 1301 246 -0.8233956 0.41 0.41  ns

### **TUA ( Total Urinary Arsenic )** 

At alpha level of 0.05, for Total urinary arsenic, there is statistical significance for **race and alcohol.**

There is no statistical significance for education, marital status,   BMI, alcohol, cotinine and  and poverty index ratio.

In [ ]:
# BMI Categorical
kruskal.test(TUA~ BMI.f , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA by BMI.f
Kruskal-Wallis chi-squared = 1.5356, df = 3, p-value = 0.6741

In [ ]:

# Education
kruskal.test(TUA~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA by DMDEDUC2
Kruskal-Wallis chi-squared = 4.5952, df = 4, p-value = 0.3314

In [ ]:

# Marital Status
kruskal.test(TUA~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA by DMDMARTL
Kruskal-Wallis chi-squared = 9.4356, df = 5, p-value = 0.0929

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA, RIDRETH1  ) %>% filter(TUA != 'NA') %>% filter(RIDRETH1   != 'NA')

# kruskal wallis test
kruskal.test(TUA~ RIDRETH1   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA, RIDRETH1  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA~ RIDRETH1   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA by RIDRETH1
Kruskal-Wallis chi-squared = 4.2592, df = 4, p-value = 0.3721

 Numerical Summaries

  variable    Count Mean     Min  Q1     Q2    Q3     Max    Sd
1 Mex-Hisp    222   12.93752 1.14 3.9425  6.66 11.750 227.56 26.03156
2 Other-Hisp  149   18.76336 1.07 5.3100  8.96 17.680 333.64 35.19772
3 Non-Hisp-WT 623   10.60966 0.90 2.8400  5.36  9.975 239.58 22.74937
4 Non-Hisp-BK 365   17.93233 1.01 4.2900  7.95 15.120 849.22 50.72728
5 Others      267   23.27011 1.27 5.3100 11.50 25.685 238.19 33.38157

 Multiple Comparison

   .y. group1      group2      n1  n2  statistic  p     p.adj p.adj.signif
1  TUA Mex-Hisp    Other-Hisp  222 149  0.3028213 0.762 0.85  ns
2  TUA Mex-Hisp    Non-Hisp-WT 222 623 -1.5169754 0.129 0.65  ns
3  TUA Mex-Hisp    Non-Hisp-BK 222 365 -0.5513440 0.581 0.73  ns
4  TUA Mex-Hisp    Others      222 267 -0.6134995 0.54  0.73  ns
5  TUA Other-Hisp  Non-Hisp-WT 149 623 -1.6518817 0.099 0.65  ns
6  TUA Other-Hisp  Non-Hisp-BK 149 365 -0.8125838 0.416 0.69  ns
7  TUA Other-Hisp  Others      149 267 -0.8585489 0.391 0.69  ns
8  TUA Non-Hisp-WT Non-Hisp-BK 623 365  1.0869449 0.277 0.69  ns
9  TUA Non-Hisp-WT Others      623 267  0.8592296 0.39  0.69  ns
10 TUA Non-Hisp-BK Others      365 267 -0.1092353 0.913 0.91  ns

In [ ]:

# Poverty Income Ratio
kruskal.test(TUA~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA by PIR
Kruskal-Wallis chi-squared = 1.1419, df = 2, p-value = 0.565

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA, ALQ101  ) %>% filter(TUA != 'NA') %>% filter(ALQ101   != 'NA')

# kruskal wallis test
kruskal.test(TUA~ ALQ101   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA, ALQ101  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA~ ALQ101   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA by ALQ101
Kruskal-Wallis chi-squared = 2.7496, df = 1, p-value = 0.09728

 Numerical Summaries

  variable Count Mean     Min  Q1     Q2    Q3     Max    Sd
1 Yes      1274  14.70575 0.90 3.7100 7.020 13.345 849.22 35.18725
2 No        232  16.70371 0.91 3.3975 6.525 13.560 238.19 32.81227

 Multiple Comparison

  .y. group1 group2 n1   n2  statistic p     p.adj p.adj.signif
1 TUA Yes    No     1274 232 -1.658191 0.097 0.097 ns

In [ ]:

# Cotinine
kruskal.test(TUA~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA by LBDCOTLC
Kruskal-Wallis chi-squared = 7.666, df = 1, p-value = 0.005627

### **TUA1**

At alpha level of 0.05, for combination of arsenous acid , arsenicacid , monomethylarsonic acid and dimethylarsenic acid, there is statistical significance for **BMI, race and alcohol.**

There is no statistical significance for education, marital status, cotinine and poverty index ratio.

**BMI**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA1, BMI.f  ) %>% filter(TUA1 != 'NA') %>% filter(BMI.f   != 'NA')

# kruskal wallis test
kruskal.test(TUA1~ BMI.f   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA1, BMI.f  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA1~ BMI.f   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA1 by BMI.f
Kruskal-Wallis chi-squared = 2.4086, df = 3, p-value = 0.492

 Numerical Summaries

  variable      Count Mean     Min  Q1     Q2    Q3     Max    Sd
1 Underweight    24   9.272917 2.13 2.5125 4.015 8.8725  76.48 15.217766
2 Normal weight 500   7.052360 2.13 3.0975 5.425 8.4875  41.37  6.001963
3 Overweight    570   7.521193 2.13 3.3375 5.300 8.9100  59.11  7.374837
4 Obesity       525   6.899638 2.13 3.5900 5.360 8.2900 129.02  7.457998

 Multiple Comparison

  .y.  group1        group2        n1  n2  statistic p    p.adj p.adj.signif
1 TUA1 Underweight   Normal weight  24 500 0.5765699 0.56 0.64  ns
2 TUA1 Underweight   Overweight     24 570 0.7151689 0.47 0.64  ns
3 TUA1 Underweight   Obesity        24 525 0.9731633 0.33 0.64  ns
4 TUA1 Normal weight Overweight    500 570 0.4658093 0.64 0.64  ns
5 TUA1 Normal weight Obesity       500 525 1.3226928 0.19 0.64  ns
6 TUA1 Overweight    Obesity       570 525 0.8945314 0.37 0.64  ns

**Education**

In [ ]:

# Education
kruskal.test(TUA1~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA1 by DMDEDUC2
Kruskal-Wallis chi-squared = 8.4782, df = 4, p-value = 0.07555

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(TUA1~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA1 by DMDMARTL
Kruskal-Wallis chi-squared = 6.76, df = 5, p-value = 0.2391

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA1, RIDRETH1  ) %>% filter(TUA1 != 'NA') %>% filter(RIDRETH1   != 'NA')

# kruskal wallis test
kruskal.test(TUA1~ RIDRETH1   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA1, RIDRETH1  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA1~ RIDRETH1   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA1 by RIDRETH1
Kruskal-Wallis chi-squared = 5.0746, df = 4, p-value = 0.2797

 Numerical Summaries

  variable    Count Mean      Min  Q1     Q2    Q3      Max    Sd
1 Mex-Hisp    222    7.455766 2.13 3.4900 5.760  8.8775 129.02 9.876304
2 Other-Hisp  148    9.238311 2.13 4.5775 7.090 11.3350  53.00 7.751841
3 Non-Hisp-WT 625    5.413072 2.13 2.6600 4.250  6.8100  41.25 4.193132
4 Non-Hisp-BK 364    6.962527 2.13 3.4375 5.190  8.1550  50.42 5.934617
5 Others      266   10.318684 2.13 4.3350 7.055 13.3500  76.48 9.578412

 Multiple Comparison

   .y.  group1      group2      n1  n2  statistic  p     p.adj p.adj.signif
1  TUA1 Mex-Hisp    Other-Hisp  222 148 -0.2359842 0.813 0.81  ns
2  TUA1 Mex-Hisp    Non-Hisp-WT 222 625  0.2422641 0.809 0.81  ns
3  TUA1 Mex-Hisp    Non-Hisp-BK 222 364  0.5120941 0.609 0.81  ns
4  TUA1 Mex-Hisp    Others      222 266 -1.3684664 0.171 0.57  ns
5  TUA1 Other-Hisp  Non-Hisp-WT 148 625  0.4810009 0.631 0.81  ns
6  TUA1 Other-Hisp  Non-Hisp-BK 148 364  0.7041953 0.481 0.81  ns
7  TUA1 Other-Hisp  Others      148 266 -0.9689034 0.333 0.81  ns
8  TUA1 Non-Hisp-WT Non-Hisp-BK 625 364  0.3743170 0.708 0.81  ns
9  TUA1 Non-Hisp-WT Others      625 266 -1.9578518 0.05  0.25  ns
10 TUA1 Non-Hisp-BK Others      364 266 -2.0828465 0.037 0.25  ns

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(TUA1~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA1 by PIR
Kruskal-Wallis chi-squared = 0.80296, df = 2, p-value = 0.6693

**Alcohol**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA1, ALQ101  ) %>% filter(TUA1 != 'NA') %>% filter(ALQ101   != 'NA')

# kruskal wallis test
kruskal.test(TUA1~ ALQ101   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA1, ALQ101  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA1~ ALQ101   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA1 by ALQ101
Kruskal-Wallis chi-squared = 2.1657, df = 1, p-value = 0.1411

 Numerical Summaries

  variable Count Mean     Min  Q1     Q2    Q3     Max   Sd
1 Yes      1272  6.791164 2.13 3.1975 5.280 8.1350 59.11 5.891378
2 No        232  7.661078 2.13 3.3500 5.175 9.0025 76.48 7.973298

 Multiple Comparison

  .y.  group1 group2 n1   n2  statistic p    p.adj p.adj.signif
1 TUA1 Yes    No     1272 232 -1.471635 0.14 0.14  ns

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(TUA1~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA1 by LBDCOTLC
Kruskal-Wallis chi-squared = 0.44089, df = 1, p-value = 0.5067

### **TUA2**

At alpha level of 0.05, for combination of arsenobetaine and arsenocholine, there is statistical significance for **race**.

There is no statistical significance for BMI,  education, marital status, cotinine, alcohol and poverty index ratio.

**BMI**

In [ ]:
# BMI Categorical
kruskal.test(TUA2~ BMI.f , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by BMI.f
Kruskal-Wallis chi-squared = 5.8103, df = 3, p-value = 0.1212

**Education**

In [ ]:

# Education
kruskal.test(TUA2~ DMDEDUC2 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by DMDEDUC2
Kruskal-Wallis chi-squared = 4.2659, df = 4, p-value = 0.3712

**Marital Status**

In [ ]:

# Marital Status
kruskal.test(TUA2~ DMDMARTL , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by DMDMARTL
Kruskal-Wallis chi-squared = 8.1855, df = 5, p-value = 0.1463

**Race**

In [ ]:
HSV_df_backup_postprep -> HSV_df

HSV_df %<>% select(TUA2, RIDRETH1  ) %>% filter(TUA2 != 'NA') %>% filter(RIDRETH1   != 'NA')

# kruskal wallis test
kruskal.test(TUA2~ RIDRETH1   , data = HSV_df) 

cat("\n\n")

cat("\n Numerical Summaries \n")
# numerical summary
HSV_df %$% num_summary(TUA2, RIDRETH1  ) 

cat("\n\n")

cat("\n Multiple Comparison \n")
# multiple comparison
dunn_test(TUA2~ RIDRETH1   , data = HSV_df, p.adjust.method = "fdr") %>%
p_format(digits = 2, leading.zero = TRUE) ; HSV_df_backup_postprep -> HSV_df

	Kruskal-Wallis rank sum test

data:  TUA2 by RIDRETH1
Kruskal-Wallis chi-squared = 23.259, df = 4, p-value = 0.0001124

 Numerical Summaries

  variable    Count Mean      Min  Q1     Q2    Q3      Max    Sd
1 Mex-Hisp    222    7.231171 0.06 2.4050 5.115  8.5175 145.55 11.713358
2 Other-Hisp  147    9.064694 0.17 3.8750 6.700 10.4850  89.02 10.329061
3 Non-Hisp-WT 621    4.859517 0.00 1.5000 3.440  6.5200  52.50  5.575628
4 Non-Hisp-BK 363    7.345289 0.11 2.6700 4.950  7.9050 122.28 11.289963
5 Others      266   11.675150 0.09 3.4225 6.715 13.7775 172.50 17.282833

 Multiple Comparison

   .y.  group1      group2      n1  n2  statistic  p       p.adj   p.adj.signif
1  TUA2 Mex-Hisp    Other-Hisp  222 147  1.6532621 0.0983  0.14485 ns
2  TUA2 Mex-Hisp    Non-Hisp-WT 222 621 -2.5470761 0.0109  0.03621 *
3  TUA2 Mex-Hisp    Non-Hisp-BK 222 363  0.1837017 0.8542  0.85425 ns
4  TUA2 Mex-Hisp    Others      222 266 -0.3659880 0.7144  0.79375 ns
5  TUA2 Other-Hisp  Non-Hisp-WT 147 621 -4.0881407 <0.0001 0.00043 ***
6  TUA2 Other-Hisp  Non-Hisp-BK 147 363 -1.6381369 0.1014  0.14485 ns
7  TUA2 Other-Hisp  Others      147 266 -2.0343139 0.0419  0.08384 ns
8  TUA2 Non-Hisp-WT Non-Hisp-BK 621 363  3.2515356 0.0011  0.00574 **
9  TUA2 Non-Hisp-WT Others      621 266  2.2640253 0.0236  0.05893 ns
10 TUA2 Non-Hisp-BK Others      363 266 -0.6061426 0.5444  0.68053 ns

**Poverty Income Ratio**

In [ ]:

# Poverty Income Ratio
kruskal.test(TUA2~ PIR , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by PIR
Kruskal-Wallis chi-squared = 2.5898, df = 2, p-value = 0.2739

**Alcohol**

In [ ]:

# Alcohol
kruskal.test(TUA2~ ALQ101 , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by ALQ101
Kruskal-Wallis chi-squared = 2.8569, df = 1, p-value = 0.09098

**Cotinine**

In [ ]:

# Cotinine
kruskal.test(TUA2~ LBDCOTLC , data = HSV_df)

	Kruskal-Wallis rank sum test

data:  TUA2 by LBDCOTLC
Kruskal-Wallis chi-squared = 0.011065, df = 1, p-value = 0.9162